<jhi-sidebar></jhi-sidebar>

<div class="hero">
    <h1>Integração Bancária Banco Inter: Etapa 1 - Empresa</h1>
    <p class="text-primary">Busca automática de extratos e comprovantes de pagamentos</p>
  </div>

  <div class="content">
    <div class="section">
        <a class="btn btn-primary mt-3" href="https://framerusercontent.com/assets/DtkGBhabvVB0ORaNw113NKkaFpU.pdf" download>
            Baixe aqui o arquivo <i class='bx bx-download'></i>
          </a>
    </div>

    <div class="section">
      <h4>Resumo</h4>
      <p>Descubra a integração automática do Mister Contador, uma solução inovadora que automatiza a busca e o processamento de extratos e comprovantes bancários, garantindo lançamentos contábeis precisos e eficientes.</p>
    </div>

    <div class="section">
      <h4>Introdução</h4>
      <p>A integração bancária do Banco Inter com o Mister Contador revoluciona a forma como os contadores acessam os extratos e comprovantes bancários. Com a automação completa do processo, é possível realizar lançamentos contábeis detalhados rapidamente, reduzindo o tempo gasto em tarefas manuais.</p>
    </div>
    
    <div class="section">
      <h4>Visão Geral do Recurso/Funcionalidade</h4>
      <p>O Mister Contador oferece a integração para busca do extrato bancário e comprovantes de pagamentos do Banco Inter, através da configuração de integração via API. Uma vez configurada a integração com o Banco Inter, o Mister Contador processa os extratos e comprovantes automaticamente, bastando o usuário escolher o período desejado. Garantindo assim, que todos os lançamentos contábeis sejam precisos.</p>
      <p>A integração via API com o Banco Inter, deve ser realizada em duas etapas: A primeira por parte da empresa e a segunda, por parte da contabilidade, conforme o passo a passo a seguir:</p>
    </div>
    
    <div class="section">
      <h4>Integração Banco Inter: Etapa 1 - Empresa</h4>
      <ol>
        <li>AAcesso à conta bancária do Banco Inter: O cliente da contabilidade deve acessar a conta bancária do Banco Inter e no menu inicial clicar em "Soluções para sua empresa" e depois selecionar "Nova integração".</li>
        <div class="img-block"><img src="/assets/img/integracoes_bancarias/inter_01/img/image1.png" class="img-fluid rounded" style="width:550px;"></div>
        <li>Configurar Nova Integração: Coloque um nome e uma descrição para a aplicação. Sugerimos: "Integração Mister Contador" para o nome e " Busca automática de Extratos e/ou Comprovantes",  para a descrição. Depois, clicar em "PRÓXIMO":</li>
        <div class="img-block"><img src="/assets/img/integracoes_bancarias/inter_01/img/image2.png" class="img-fluid rounded" style="width:550px;"></div>
        <li>Gerenciando os acessos EXCLUSIVAMENTE de consulta da API Pix:  Na API Pix selecione:</li>
        <p>" Consultar cobranças imediatas":</p>
        <p>"Consultar cobranças com vencimento":</p>
        <p>"Consultar Pix recebidos e devoluções":</p>
        <p>"Consultar webhooks":</p>
        <p>"Consultar payloads":</p>
        <div class="img-block"><img src="/assets/img/integracoes_bancarias/inter_01/img/image3.png" class="img-fluid rounded" style="width:550px;"></div>
        <li>Gerenciando os acessos EXCLUSIVAMENTE de consulta da API de Banking: Role um pouco a página para baixo e na API de Banking selecione:</li>
        <p>"Consultar pagametnos PIX":</p>
        <p>" Consultar pagamentos com códigos de barras DARF":</p>
        <p>"Consultar lotes de pagamentos":</p>
        <p>"Consultar Extrato e saldo":</p>
        <p>"Consultar webhooks":</p>
        <div class="img-block"><img src="/assets/img/integracoes_bancarias/inter_01/img/image4.png" class="img-fluid rounded" style="width:550px;"></div>
        <li>Gerenciando os acessos EXCLUSIVAMENTE de consulta da API de cobrança (boleto+Pis): Role um pouco a página para baixo e na API de Cobranças selecione:</li>
        <p>" Consultar boletos e exportar para PDF"</p>
        <p>"E depois clique em "CRIAR INTEGRAÇÃO"</p>
        <div class="img-block"><img src="/assets/img/integracoes_bancarias/inter_01/img/image5.png" class="img-fluid rounded" style="width:550px;"></div>
        <li>Indo para a próxima tela: Minhas integrações:</li>
        <p>Clique nos três pontos, na coluna de ações.</p>
        <div class="img-block"><img src="/assets/img/integracoes_bancarias/inter_01/img/image6.png" class="img-fluid rounded" style="width:550px;"></div>
        <li>Baixando a Chave e Certificado: </li>
        <p>Baixe as chaves e o certificado. GUARDE EM LUGAR SEGURO E NÃO PERCA.</p>
        <p>ENVIAR PARA A CONTABILIDADE</p>
        <div class="img-block"><img src="/assets/img/integracoes_bancarias/inter_01/img/image7.png" class="img-fluid rounded" style="width:550px;"></div>
        <li>Tela Minhas integrações: </li>
        <p>Clique novamente nos três pontos na coluna de Ações.</p>
        <div class="img-block"><img src="/assets/img/integracoes_bancarias/inter_01/img/image8.png" class="img-fluid rounded" style="width:550px;"></div>
        <li>Copiando o ClientId e ClientSecret:</li>
        <p>Copie, GUARDE o ClientId e o ClientSecret e ENVIE PARA A CONTABILIDADE</p>
        <div class="img-block"><img src="/assets/img/integracoes_bancarias/inter_01/img/image9.png" class="img-fluid rounded" style="width:550px;"></div>
        <li>Após terminar de fazer a integração, envie o arquivo do Certificado (passo 7) para a contabilidade, juntamente com o ClientID e o SecretID (passo 9).</li>
    </ol>
    </div>
    <div class="section">
      <h4>Melhores Práticas</h4>
      <p>A integração bancária do Mister Contador simplifica significativamente o processo de pedir extratos bancários todos os meses para o seu cliente. Contadores podem realizar lançamentos de forma automática e eficiente, melhorando a qualidade dos serviços prestados aos seus clientes.</p>
    </div>

    <div class="section">
      <h4>Perguntas Frequentes (FAQ)</h4>
      <ul>
        <li>Posso configurar a integração com uma conta de acesso secundário?</li>
        <p>Sim, você pode usar uma conta que tenha apenas permissão de consulta, se desejar.</p>
        <li>Posso configurar a integração em um login que tenha mais de uma conta bancária?</li>
        <p>Sim, mas a integração buscará dados da conta bancária pelo número da conta corrente associada a integração que você cadastrou no Mister.</p>
        <li>Quanto tempo demora para a integração ser validada?</li>
        <p>O tempo de validação pode variar dependendo da resposta da API, mas geralmente pode levar até 24 horas.</p>
        <li>A integração bancária com o Mister Contador é segura?</li>
        <p>Sim, utilizamos protocolos de segurança avançados para assegurar a transmissão segura de todos os dados.</p>
    </ul>
    </div>

    <div class="section">
      <h4>Exemplos de Uso</h4>
      <p>Márcio, um contador parceiro do Mister Contador, utiliza a integração bancária do Moister Contador para agilizar a importação de extratos bancários de vários clientes. Com o processo automatizado, ele realiza lançamentos contábeis rapidamente, economizando tempo para se dedicar a outras consultorias e análises financeiras.</p>
    </div>

    <div class="section">
      <h4>Conclusão</h4>
      <p>A integração bancária do Mister Contador simplifica significativamente o processo de pedir extratos bancários todos os meses para o seu cliente. Contadores podem realizar lançamentos de forma automática e eficiente, melhorando a qualidade dos serviços prestados aos seus clientes.</p>
    </div>
    <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos.</div>
  </div>
