<jhi-sidebar></jhi-sidebar>

<div class="hero">
    <h1>Integração com a SIEG</h1>
    <p class="text-primary">Busca automática de notas fiscais dos clientes</p>
  </div>

  <div class="content">
    <div class="section">
      <h4>Resumo</h4>
      <p>Descubra como ativar a integração com a Sieg no Mister Contador de forma simples e rápida. Este artigo irá guiá-lo passo a passo para habilitar a chave API para o Mister realizar a busca automática das NF-e, NFC-e, CTe e NFS-e dos seus clientes, no Cofre da Sieg.</p>
    </div>

    <div class="section">
      <h4>Introdução</h4>
      <p>Está pronto para simplificar ainda mais sua contabilidade? Ativar a integração com a Sieg no Mister Contador é essencial para uma gestão eficiente das suas notas fiscais. Neste artigo, vamos mostrar como realizar esse processo de forma descomplicada e ágil.</p>
    </div>

    <div class="section">
      <h4>Visão Geral do Recurso/Funcionalidade</h4>
      <p>A integração com a Sieg permite que você sincronize as notas fiscais dos seus clientes diretamente no Mister Contador. Para ativar essa funcionalidade, é necessário habilitar a chave API da Sieg e configurar a integração das empresas na página do Mister Contador.</p>
    </div>

    <div class="section">
      <h4>Passo a Passo</h4>
      <ol>
        <li>Acesse o site da Sieg com o e-mail de administrador e vá para "Minha Conta" > "Integração Chave API".</li>
        <div class="img-block"><img src="/notas_fiscais/sieg/img/image1.png" class="img-fluid rounded"></div>
        <li>Habilite a chave API e copie o código.</li>
        <div class="img-block"><img src="/notas_fiscais/sieg/img/image2.png" class="img-fluid rounded"></div>
        <li>Envie o código da chave API para o chat de atendimento na página do Mister Contador para decodificação.</li>
        <li>Na página do Mister Contador, acesse "Contabilidade" no menu lateral.</li>
        <li>Habilitar a integração de notas fiscais, informando o e-mail do administrador que foi utilizado para acessar a Sieg e a chave API, que deve ser decodificada pelo time de atendimento do Mister.</li>
        <div class="img-block"><img src="/notas_fiscais/sieg/img/image3.png" class="img-fluid rounded"></div>
        <li>No menu do cliente, clique em "NF-e" e depois clique na engrenagem (imagem da engrenagem)  e preencha os campos de "data de início (o Mister irá buscar de forma automática, a partir do mês anterior ao cadastro da empresa)" e em seguida em marque a opção "habilitar integração". Aqui serão carregadas as NF-e, NFCe e CTe.</li>
        <div class="img-block"><img src="/notas_fiscais/sieg/img/image4.png/" class="img-fluid rounded"></div>
        <li>Para as notas de serviços, no menu do cliente, clique em "NFS-e" e depois clique na engrenagem (imagem da engrenagem)  e preencha os campos de "data de início (o Mister irá buscar de forma automática, a partir do mês anterior ao cadastro da empresa)" e em seguida em marque a opção "habilitar integração".</li>
        <div class="img-block"><img src="/notas_fiscais/sieg/img/image5.png" class="img-fluid rounded"></div>
      </ol>
    </div>

    <div class="section">
      <h4>Melhores Práticas e Dicas Avançadas</h4>
      <ul>
        <li>Certifique-se de informar corretamente o e-mail com perfil de "administrador" na Sieg e a chave API correspondente ao e-mail, decodificada, para garantir a integração bem-sucedida.</li>
        <li>Lembre-se de habilitar a integração das NF-e e das NFS-e, em todas as empresas que você cadastrar no Mister Contador.</li>
        <li>O Mister buscará automaticamente as notas a partir do mês anterior à data de cadastro da empresa. Se o usuário desejar, poderá carregar manualmente, quantos períodos de notas forem necessários.</li>
      </ul>
    </div>

    <div class="section">
      <h4>Perguntas Frequentes (FAQ)</h4>
      <ul>
        <li><strong>Onde encontro a chave API da Sieg?</strong><br>A chave está disponível no menu "Integrações" no site da Sieg, acessível apenas pelo e-mail administrador.</li>
        <li><strong>Preciso decodificar a chave API antes de habilitar a integração no Mister Contador?</strong><br>Sim, a chave API precisa ser decodificada para garantir a integração correta.</li>
        <li><strong>O que o Mister irá buscar no cofre da Sieg?</strong><br>Notas NF-e, NFC-e, CTe e NFS-e.</li>
        <li><strong>Quando ocorre a busca de notas?</strong><br>O Mister fará a busca das notas no cofre da Sieg, nas sextas-feiras, a partir das 20:00, até a segunda-feira pela manhã, a partir do período anterior a data de cadastro da empresa.</li>
        <li><strong>Posso carregar manualmente quantos períodos de notas no Mister?</strong>O usuário poderá carregar manualmente, quantos períodos de notas desejar.</li>
      </ul>
    </div>

    <div class="section">
      <h4>Exemplos de Uso</h4>
      <p>João, colaborador do departamento contábil, acabou de cadastrar uma novam empresa e habilitou a integração com a Sieg. Na próxima segunda-feira, o Mister irá mostrar as notas desse cliente, no item NF-e da empresa.</p>
    </div>

    <div class="section">
      <h4>Conclusão</h4>
      <p>Ativar a integração com a Sieg no Mister Contador é o próximo passo para uma contabilidade ainda mais assertiva e eficiente. Seguindo os passos simples fornecidos neste artigo, o Mister irá realizar a busca automáticas das notas fiscais dos seus clientes, direto do cofre da Sieg. Não perca tempo - comece agora mesmo e leve sua contabilidade para o próximo nível com o Mister Contador!</p>
    </div>

    <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos.</div>
  </div>
