<jhi-sidebar></jhi-sidebar>

<div class="hero">
        <h1>Download do Relatório de Recebimento da Stone</h1>
        <p class="text-primary">Instruções para gerar e baixar relatórios de recebíveis da Stone</p>
    </div>

    <!-- CONTENT -->
    <div class="content">
        <div class="section">
            <h4>Resumo</h4>
            <p>Este guia oferece instruções passo a passo para gerar e baixar o relatório de recebíveis da Stone, garantindo que o arquivo esteja no formato adequado para importação no Mister Contador.</p>
        </div>

        <div class="section">
            <h4>Introdução</h4>
            <p>Obter relatórios detalhados de recebíveis da Stone pode ser um processo simples ao seguir este guia. Ele pode ser compartilhado com seus clientes para que eles mesmos realizem o download dos relatórios. Isso acelera o processo contábil, eliminando a necessidade de esperar o envio de documentos, e permitindo que você realize a importação diretamente no Mister Contador.</p>
        </div>

        <div class="section">
            <h4>Visão Geral do Recurso/Funcionalidade</h4>
            <p>A Stone oferece a funcionalidade de exportar relatórios de recebíveis em formato (.csv) através do seu portal online. Esses relatórios são detalhados e podem ser facilmente importados no Mister Contador para automação contábil.</p>
        </div>

        <div class="section">
            <h4>Passo a Passo</h4>
            <p>Siga o passo a passo abaixo para gerar e baixar seu relatório de recebíveis da Stone de forma compatível com o Mister Contador: <strong><a href="https://drive.google.com/file/d/17V-WJbH4F-FROcsSr3zJfYQVvB9KQMQq/view?usp=drive_link" target="_blank">Clique aqui para baixar o passo a passo em arquivo PDF</a></strong></p>
            
            <ol>
                <li><strong>Acesse o site da Stone:</strong> Em seguida, clique em "Recebimentos"</li>
                    <div class="img-block">
                        <img src="/assets/img/cartao/receb_stone/receb_stone.png" class="img-fluid rounded">
                    </div>
                <li>Clique em "Relatório".</li>
                    <div class="img-block">
                        <img src="/assets/img/cartao/receb_stone/receb_stone2.png" class="img-fluid rounded">
                    </div>
                <li>Selecione o mês desejado:</li>
                    <div class="img-block">
                        <img src="/assets/img/cartao/receb_stone/receb_stone3.png" class="img-fluid rounded">
                    </div>
                <li>Clique em "Lista de recebimentos":</li>
                    <div class="img-block">
                        <img src="/assets/img/cartao/receb_stone/receb_stone4.png" class="img-fluid rounded">
                    </div>
                <li>Selecione apenas a empresa desejada. Então, clique em "Continuar":</li>
                <p><strong>OBS:</strong> Essa tela só irá aparecer caso você tenha mais de uma empresa em seu login. Caso essa tela não apareça, vá para o Passo 06.</p>
                    <div class="img-block">
                        <img src="/assets/img/cartao/receb_stone/receb_stone5.png" class="img-fluid rounded">
                    </div>
                <li>Selecione o E-mail desejado e então clique em "Enviar relatório".</li>
                    <div class="img-block">
                        <img src="/assets/img/cartao/receb_stone/receb_stone6.png" class="img-fluid rounded">
                    </div>
                <li>Verifique seu E-mail e então clique em "Baixar arquivo".</li>
                    <div class="img-block">
                        <img src="/assets/img/cartao/receb_stone/receb_stone7.png" class="img-fluid rounded">
                    </div>
            </ol>
        </div>

        <div class="section">
            <h4>Melhores Práticas e Dicas Avançadas</h4>
            <ul>
                <li>Se você tem acesso secundário ao portal da Stone de seus clientes, pode realizar esse processo diretamente, economizando tempo.</li>
                <li>Ao baixar o relatório, verifique se todas as transações foram incluídas no arquivo Excel para garantir uma contabilidade precisa.</li>
            </ul>
        </div>

        <div class="section">
            <h4>Perguntas Frequentes (FAQ)</h4>
            
            <div class="section">
                <ol>
                    <li><h5>Preciso gerar o relatório tanto em CSV quanto em outro formato?</h5>
                        <p>Não. O formato em CSV é o mais adequado para importação no Mister Contador.</p>
                    </li>

                    <li><h5>Posso gerar o relatório de todo o ano de uma vez?</h5>
                        <p>Não. Recomendamos que o relatório seja gerado mensalmente para facilitar a importação e conferência.</p>
                    </li>
                </ol>
            </div>
        </div>

        <div class="section">
            <h4>Exemplos de Uso</h4>
            <li>Carlos, contador, precisa realizar a contabilidade do mês de junho para uma loja. Ele utiliza este guia para baixar o relatório de recebíveis da Stone, o que facilita a importação dos dados no Mister Contador.</li>
            <li>Mariana, assistente contábil, gerencia várias contas de clientes. Com acesso secundário ao portal da Stone, ela consegue baixar os relatórios diretamente, sem precisar aguardar os clientes.</li>
        </div>

        <div class="section">
            <h4>Conclusão</h4>
            <li>Seguir estas instruções permitirá que você baixe e importe os relatórios de recebíveis da Stone no Mister Contador de maneira rápida e eficiente. Isso assegura uma contabilidade mais ágil e precisa, economizando tempo e esforço no dia a dia.</li>
            <li>Pronto! Agora você tem o seu relatório de recebíveis da Stone pronto para ser importado no Mister Contador.</li>
            <li><strong>Dica:</strong> Confira nossos tutoriais sobre como importar o relatório no <a href="/assets/img/concilia/modulo_premium/modulo_premium.html">Módulo Premium</a> ou no <a href="/assets/img/concilia/modulo_basico/modulo_basico.html">Módulo Básico</a> para maximizar o uso das ferramentas do Mister Contador.</li>
        </div>

        <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos.</div>
    </div>
