<jhi-sidebar></jhi-sidebar>

<div class="hero">
        <h1>Entendendo o Registro Contábil</h1>
        <p class="text-primary">Registro contábil/Conciliação de lançamentos</p>
    </div>

    <!-- CONTENT -->
    <div class="content">
        <div class="section">
            <div class="video-container mb-4">
                <iframe width="100%" height="400" src="https://www.youtube.com/embed/EB4eXJuKxtA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
        
        <div class="section">
            <h4>Resumo</h4>
            <p>Após o upload dos insumos (xml das notas, comprovantes de pagamento e extratos bancários) no Mister Contador, o próximo passo é entender como será a contabilização no Registro Contábil. Nesta etapa, é onde o usuário irá realizar a contabilização da movimentação bancária das empresas. Neste artigo, vamos explorar de maneira simples e direta como realizar essa tarefa de forma eficiente.</p>
        </div>

        <div class="section">
            <h4>Introdução</h4>
            <p>O Mister Contador irá realizar o lançamento contábil de forma automática nas contas contábeis de fornecedores, quando identificar o cnpj do beneficiário/fornecedor, nos comprovantes de pagamento, na NF-e de entrada e na conta contábil do fornecedor, no plano de contas. Quando não ocorrer o lançamento automático, o usuário precisará informar ao Mister Contador, as contas contábeis corretas para realizar a contabilização, associando a conta contábil, ou criando regras. Entender o processo de Registro Contábil é essencial. Também, é a garantia de que toda movimentação bancária dos seus clientes serão devidamente lançadas de forma precisa nas contas contábeis corretas.</p>
        </div>

        <div class="section">
            <h4>Visão Geral do Recurso/Funcionalidade</h4>
            <p>Na tela de Registro Contábil do Mister, é mostrado o "espelho" do extrato, ou da planilha que o usuário utilizou para substituir o extrato bancário. Por exemplo: quando for um pagamento de fornecedor, no extrato bancário ou na planilha, o valor será um débito. E no registro contábil, irá aparecer como crédito na conta contábil do banco, para ser lançado a débito na conta contábil do fornecedor.</p>
            
            <p>Ao acessar a aba lateral do Mister, você encontrará a opção "Registro Contábil". Aqui, você verá uma interface com três informações:</p>
            
            <p><strong>Registro Contábil:</strong></p>
            
            <ul>
                <li><strong>Linhas azuladas</strong> - representam os lançamentos da conta contábil do banco cadastrado;</li>
                <li><strong>Linhas brancas</strong> - indicam os lançamentos conciliados automaticamente pelo sistema;</li>
                <li><strong>Linhas amarelas</strong> - destacam os lançamentos que requerem a intervenção do usuário para indicar a conta contábil correta, que poderá ser feita de 03 maneiras:</li>
                <ul>
                    <li>Através da associação da conta;</li>
                    <li>Associar ou criar uma regra;</li>
                    <li>Por meio de uma <a href="/edicao_avancada/edicao.html">edição avançada</a>.</li>
                </ul>
            </ul>
            
            <div class="img-block">
                <img src="/assets/img/assets/img/registro/entendendo/entend.png" class="img-fluid rounded">
            </div>
        </div>

        <div class="section">
            <h4>Passo a Passo</h4>
            
            <div class="section">
                <h5>1. Acessar o Registro Contábil:</h5>
                <p>Após acessar as informações da empresa (clicar em visualizar), acesse a aba "Registro Contábil" no Mister.</p>
            </div>

            <div class="section">
                <h5>2. Identificar os tipos de lançamentos:</h5>
                <p>Identifique os lançamentos das linhas azuladas, linhas brancas e as linhas amarelas.</p>
            </div>

            <div class="section">
                <h5>3. Conciliar lançamentos das linhas amarelas:</h5>
                <p>Para os lançamentos das linhas amarelas, realize a conciliação manualmente:</p>
                
                <p>Ao clicar na linha específica do histórico, o usuário poderá <strong>criar uma regra</strong>, definindo um dos critério disponíveis (histórico bancário, nome do beneficiário ou usando uma informação extra) quando possível. Vale lembrar que será necessário estabelecer uma conta contábil e seu respectivo histórico contábil, por fim essa funcionalidade irá aplicar essa regra para todos os casos semelhantes.</p>
                
                <p><strong>Ps.</strong> Ideal para ser utilizado quando o comprovante de pagamento correspondente estiver ausente (por qualquer motivo) na plataforma.</p>
                
                <p>Ao clicar na linha específica do histórico, o usuário também poderá <strong>indicar diretamente uma conta contábil específica</strong> para esse lançamento contábil. Vale lembrar que nesse caso a indicação feita vale exclusivamente para esse registro, não gerando uma recorrência para esse caso de uso.</p>
                
                <p>O usuário poderá também usar um recurso mais sofisticado chamado de <strong><a href="/edicao_avancada/edicao.html">edição avançada</a></strong>. Clicando no "lápis", o usuário perceberá nessa funcionalidade a possibilidade de criar lançamentos em lote. Ideal para o registro de juros, descontos, tarifas e etc.</p>
            </div>
        </div>

        <div class="section">
            <h4>Melhores Práticas e Dicas Avançadas</h4>
            <ul>
                <li>Utilize a função de criação de regras para automatizar a conciliação de lançamentos recorrentes.</li>
                <li>Esteja atento aos lançamentos das linhas amarelas, pois são eles que necessitam de intervenção manual.</li>
                <li>A <a href="/edicao_avancada/edicao.html">"edição avançada"</a> é uma ferramenta poderosa para ajustes precisos nos seus registros contábeis. Pois é nela que será possível realizar os lançamentos múltiplos.</li>
            </ul>
        </div>

        <div class="section">
            <h4>Perguntas Frequentes (FAQ)</h4>
            
            <div class="section">
                <ol><li><h5>Quais os lançamentos preciso conciliar?</h5></li>
                    <p>Você precisa conciliar os lançamentos das linhas amarelas, através de "associar conta", "associar regras"; ou "edição avançada".</p>
                </ol>
            </div>
        </div>

        <div class="section">
            <h4>Exemplos de Uso</h4>
            <li>João precisa conciliar os lançamentos do extrato bancário de uma empresa cliente, no Mister. Para os lançamentos que não forem conciliados de forma automática, ele poderá utilizar as regras de conciliação para automatizar o processo para os próximos períodos.</li>
        </div>

        <div class="section">
            <h4>Conclusão</h4>
            <li>Dominar a conciliação de lançamentos no Mister é uma habilidade essencial. Ao compreender e utilizar corretamente esse recurso, você garante que os lançamentos contábeis dos seus clientes estejam sempre em ordem e em dia. Com as dicas e orientações fornecidas neste artigo, você está preparado para enfrentar qualquer desafio contábil com confiança e eficiência.</li>
        </div>

        <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos.</div>
    </div>
