<jhi-sidebar></jhi-sidebar>

<div class="hero">
    <h1>Upload Manual de NFS-e</h1>
    <p class="text-primary">Importe notas fiscais de serviços com praticidade e eficiência</p>
  </div>

  <div class="content">
    <div class="section">
      <h4>Resumo</h4>
      <p>Descubra como importar as notas fiscais de serviços tomados e prestados dos seus clientes, de forma rápida e descomplicada no Mister Contador! Neste guia, vamos explorar passo a passo como realizar essa tarefa dentro do Mister.</p>
    </div>

    <div class="section">
      <h4>Introdução</h4>
      <p>O Mister Contador utiliza as notas fiscais de serviços como base para construir um histórico contábil perfeito, para os casos de registros contábeis de pagamentos de fornecedores e/ou recebimentos de clientes. Essa funcionalidade é importante para quem não abre mão de uma contabilidade bem feita. Com o Mister, uma contabilidade bem feita e assertiva se torna uma brisa refrescante, proporcionando praticidade e eficiência.</p>
    </div>

    <div class="section">
      <h4>Visão Geral do Recurso/Funcionalidade</h4>
      <ul>
        <li>No Mister Contador, você pode importar manualmente notas de serviços (NFS-e). Vamos explorar como fazer isso de forma simples e descomplicada!</li>
      </ul>
    </div>

    <div class="section">
      <h4>Passo a Passo</h4>
      <ol>
        <li>Na aba lateral esquerda, clique em "NFS-e".</li>
        <div class="img-block"><img src="/notas_fiscais/upload_nfse/img/image1.png" class="img-fluid rounded"></div>
        <li>Em seguida, selecione "Carregar".</li>
        <li>Arraste seus arquivos XML para dentro da "nuvem" no centro da tela.</li>
        <div class="img-block"><img src="/notas_fiscais/upload_nfse/img/image2.png" class="img-fluid rounded"></div>
      </ol>
    </div>

    <div class="section">
      <h4>Melhores Práticas e Dicas Avançadas</h4>
      <ul>
        <li>O Mister Contador organiza suas notas de serviços, pela data de emissão.</li>
        <li>A exclamação em vermelho indica notas ainda não associadas a um pagamento, ou recebimento.</li>
        <li>Lembre-se: os arquivos devem estar em xml e fora de pastas compactadas.</li>
        <li>As notas de serviço devem ser associadas manualmente, pela "edição avançada".</li>
      </ul>
    </div>

    <div class="section">
      <h4>Perguntas Frequentes (FAQ)</h4>
      <ul>
        <li><strong>Por que importar as NFS-e no Mister Contador, se elas já foram importadas no meu sistema contábil?</strong><br>O Mister, utiliza as NFS-e para construir um histórico contábil completo, (nos lançamentos contábeis de Pagamento e/ou Recebimentos) contendo o número da NFS-e e o nome do fornecedor.</li>
        <li><strong>Quantos xml posso importar por vez?</strong><br>O Mister permite importar até 1000 xml por vez, porém o arquivo não pode estar compactado.</li>
        <li><strong>Como importo mais de um xml no Mister?</strong><br> Não clique em "selecione o arquivo". Abra a pasta em que estão os xml descompactados, selecione até 1000 xml e arraste para a "nuvenzinha", na janela do Mister. (GIF)</li>
      </ul>
    </div>

    <div class="section">
      <h4>Exemplos de Uso:</h4>
      <p>Pedro, colaborador do departamento contábil, precisa importar 2500 xml de NFS-e no Mister. Ele segue o passo a passo, seleciona os primeiros 1000 xml e arrasta para a janela do Mister. Em seguida, seleciona mais 1000 xml e arrasta novamente. E finalmente, seleciona os 500 xml restante, e arrasta no Mister. Pronto. Importou 2500 xml em poucos minutos.</p>
    </div>

    <div class="section">
      <h4>Conclusão:</h4>
      <p>A importação de notas fiscais é uma tarefa essencial para garantir uma contabilidade assertiva e bem feita. Com o Mister Contador, esse processo se torna simples e eficiente, permitindo que você tenha um histórico completo, nos lançamentos contábeis de pagamentos de fornecedores ou recebimentos de clientes. Experimente agora e simplifique sua vida contábil com o Mister Contador!</p>
    </div>

    <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos.</div>
  </div>
