<jhi-sidebar></jhi-sidebar>

<div class="hero">
    <h1>Concilia Cartão</h1>
  </div>

  <div class="content">
    <div class="btn-grid">
      <a href="/assets/img/concilia/modulo_basico/modulo_basico.html" class="btn-dark-outline">Módulo Básico</a>
      <a href="/assets/img/concilia/modulo_premium/modulo_premium.html" class="btn-dark-outline">Módulo Premium</a>
      <a href="/assets/img/concilia/recebimento_rede/recebimento_rede.html" class="btn-dark-outline">Download do Relatório de Recebimento da Rede</a>
      <a href="/assets/img/concilia/recebimento_cielo/recebimento_cielo.html" class="btn-dark-outline">Download do Relatório de Recebimento da Cielo</a>
      <a href="/assets/img/concilia/recebimento_stone/recebimento_stone.html" class="btn-dark-outline">Download do Relatório de Recebimento da Stone</a>
    </div>

    <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos</div>
  </div>