<jhi-sidebar></jhi-sidebar>

<div class="hero">
    <h1>Cadastro de Novos Usuários</h1>
    <p class="text-primary">Como cadastrar usuários no Mister Contador</p>
  </div>

  <div class="content">
    <div class="img-block video-wrapper">
      <iframe src="https://www.youtube.com/embed/ZX1Nx91Y9v0?start=8" style="width: 800px;" title="Tutorial Cadastro de Usuários" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="section">
      <h4>Resumo</h4>
      <p>Bem-vindo ao Mister Contador, sua plataforma de automação de lançamentos contábeis! Se você está procurando uma maneira rápida e descomplicada de cadastrar novos usuários, veio ao lugar certo. Neste artigo, vamos guiá-lo através do processo de cadastro de usuários, passo a passo, para que você possa aproveitar ao máximo todas as funcionalidades que o Mister tem a oferecer.</p>
    </div>

    <div class="section">
      <h4>Introdução</h4>
      <p>O cadastro de usuários no Mister Contador desempenha um papel fundamental na organização e segurança dos dados da sua empresa. Ao atribuir diferentes níveis de acesso e permissões, você pode garantir que cada membro da sua equipe tenha acesso apenas às informações e funcionalidades necessárias para realizar suas tarefas. Isso não só melhora a eficiência operacional, mas também protege informações sensíveis contra acesso não autorizado.</p>
    </div>

    <div class="section">
      <h4>Visão Geral do Recurso/Funcionalidade</h4>
      <p>Ao acessar a tela inicial do Mister Contador, você encontrará a opção "Cadastro de Usuários". Aqui, você pode adicionar novos membros à sua equipe, inserindo informações como nome, e-mail e sobrenome (opcional), além de definir as permissões de acesso.</p>
    </div>

    <div class="section">
      <h4>Permissões de Acesso</h4>
      <ul>
        <li><strong>Administrador:</strong> Tem acesso completo a todas as funcionalidades do Mister, sendo responsável pelo cadastro de novos usuários e cadastro de empresas.</li>
        <li><strong>Gerente:</strong> Não pode cadastrar novos usuários, mas tem acesso a funcionalidades específicas necessárias para cadastrar novas empresas.</li>
        <li><strong>Usuário:</strong> Tem acesso restrito às empresas definidas na sua carteira de clientes, podendo realizar importações de documentos, conciliação bancária e exportação de arquivos dos lançamentos contábeis.</li>
      </ul>
    </div>

    <div class="section">
      <h4>Passo a Passo</h4>
      <ol>
        <li>Acesse a tela inicial do Mister Contador.</li>
        <li>Clique em "Cadastro de Usuários".</li>
        <li>Insira os dados do novo usuário.</li>
        <li>Escolha suas permissões de acesso.</li>
        <li>Clique em "Salvar".</li>
        <div class="img-block"><img src="/cadastros/usuarios/img/image1.png" class="img-fluid rounded"></div>
      </ol>
    </div>

    <div class="section">
      <h4>Melhores Práticas e Dicas Avançadas</h4>
      <ul>
        <li>A seleção das empresas por usuário deve ser realizada no menu da Empresa, na opção "Permissões".</li>
        <div class="img-block"><img src="/cadastros/usuarios/img/image2.png" class="img-fluid rounded"></div>
        <li>Revise regularmente as permissões de acesso de cada usuário para garantir que estejam alinhadas com suas responsabilidades.</li>
        <li>Mantenha um registro atualizado dos usuários cadastrados e suas permissões para facilitar a gestão da equipe.</li>
        <li>Se um usuário cadastrado não fizer mais parte do escritório, desabilite-o imediatamente. Por questões de LGPD, não é possível excluí-lo, apenas desativar.</li>
        <li>O perfil de administrador tem acesso ao "Relatório de acesso", que permite verificar as atividades dos usuários dentro da plataforma.</li>
        <li>Apenas o perfil de administrador tem permissão para cadastrar novos usuários na plataforma.</li>
        <div class="img-block"><img src="/cadastros/usuarios/img/image3.png" class="img-fluid rounded"></div>
      </ul>
    </div>

    <div class="section">
      <h4>Perguntas Frequentes (FAQ)</h4>
      <ol>
        <li>Posso excluir um usuário? Não. Apenas inativá-lo, por questões de segurança.</li>
        <li>Posso alterar as permissões de um usuário depois de cadastrá-lo? Sim, você pode ajustar as permissões a qualquer momento.</li>
        <li>Preciso selecionar empresas específicas durante o cadastro? Não, essa permissão é gerenciada posteriormente no nome da empresa.</li>
      </ol>
    </div>

    <div class="section">
      <h4>Exemplos de Uso</h4>
      <ul>
        <li><strong>Ana</strong> é colaboradora do departamento contábil e precisa cadastrar uma nova empresa. Ela deverá ser cadastrada com o perfil de gerente.</li>
        <li><strong>Pedro</strong> é sócio e contador e precisa ter acesso total aos dados contábeis. Ele deverá ser cadastrado com o perfil de administrador.</li>
      </ul>
    </div>

    <div class="section">
      <h4>Conclusão</h4>
      <p>O cadastro de usuários no Mister Contador é uma etapa crucial para garantir a segurança e eficiência da sua plataforma. Ao atribuir permissões de acesso adequadas a cada membro da equipe, você pode otimizar a gestão do seu negócio e proteger informações sensíveis contra acesso não autorizado. Portanto, não subestime a importância do cadastro de usuários – comece agora mesmo e simplifique a gestão do seu negócio com o Mister.</p>
    </div>

    <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos.</div>
  </div>
