<jhi-sidebar></jhi-sidebar>

<div class="hero">
    <h1>Extratos</h1>
  </div>

  <div class="content">
    <div class="btn-grid">
      <a href="/extratos/upload-de-extratos" class="underline"><div class="btn-dark-outline">Upload Manual de Extratos Bancários</div></a>
      <a href="/extratos/sicredi" class="underline"><div class="btn-dark-outline">Extrato do Banco Sicredi</div></a>
      <a href="/extratos/sicoob" class="underline"><div class="btn-dark-outline">Extrato do Banco Sicoob</div></a>
      <a href="/extratos/santander" class="underline"><div class="btn-dark-outline">Extrato do Banco Santander</div></a>
      <a href="/extratos/itau" class="underline"><div class="btn-dark-outline">Extrato do Banco Itaú</div></a>
      <a href="/extratos/caixa" class="underline"><div class="btn-dark-outline">Extrato do Banco Caixa Econômica Federal</div></a>
      <a href="/extratos/bradesco" class="underline"><div class="btn-dark-outline">Extrato do Banco Bradesco</div></a>
      <a href="/extratos/banco-do-brasil" class="underline"><div class="btn-dark-outline">Extrato do Banco do Brasil</div></a>
      <a href="/extratos/unicred" class="underline"><div class="btn-dark-outline">Extrato da Cooperativa Unicred</div></a>
      <a href="/extratos/credcrea" class="underline"><div class="btn-dark-outline">Extrato da Cooperativa de Crédito CredCrea</div></a>
      <a href="/extratos/inter" class="underline"><div class="btn-dark-outline">Extrato do Banco Inter</div></a>
    </div>

    <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos</div>
  </div>