<jhi-sidebar></jhi-sidebar>

<div class="hero">
    <h1>Extratos</h1>
  </div>

  <div class="content">
    <div class="btn-grid">
      <div class="btn-dark-outline" onclick="window.location.href='/extratos/upload_de_extratos/upload_manual.html'">Upload Manual de Extratos Bancários</div>
      <div class="btn-dark-outline" onclick="window.location.href='/extratos/sicredi/sicredi.html'">Extrato do Banco Sicredi</div>
      <div class="btn-dark-outline" onclick="window.location.href='/extratos/sicoob/sicoob.html'">Extrato do Banco Sicoob</div>
      <div class="btn-dark-outline" onclick="window.location.href='/extratos/santander/santander.html'">Extrato do Banco Santander</div>
      <div class="btn-dark-outline" onclick="window.location.href='/extratos/itau/itau.html'">Extrato do Banco Itaú</div>
      <div class="btn-dark-outline" onclick="window.location.href='/extratos/caixa/caixa.html'">Extrato do Banco Caixa Econômica Federal</div>
      <div class="btn-dark-outline" onclick="window.location.href='/extratos/bradesco/bradesco.html'">Extrato do Banco Bradesco</div>
      <div class="btn-dark-outline" onclick="window.location.href='/extratos/banco_brasil/banco_brasil.html'">Extrato do Banco do Brasil</div>
      <div class="btn-dark-outline" onclick="window.location.href='/extratos/unicred/unicred.html'">Extrato da Cooperativa Unicred</div>
      <div class="btn-dark-outline" onclick="window.location.href='/extratos/credcrea/credcrea.html'">Extrato da Cooperativa de Crédito CredCrea</div>
      <div class="btn-dark-outline" onclick="window.location.href='/extratos/inter/inter.html'">Extrato do Banco Inter</div>
    </div>

    <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos</div>
  </div>
