<jhi-sidebar></jhi-sidebar>

<div class="hero">
    <h1>Gerar Ticket</h1>
  </div>
  
  <div class="content">
    <div class="btn-grid">
      <a href="/ticket/gerar-ticket" style="text-decoration: none;"><div class="btn-dark-outline">Gerar um Ticket</div></a>
      <a href="/ticket/responder-ticket/" style="text-decoration: none;"><div class="btn-dark-outline">Responder um Ticket</div></a>
      <a href="/ticket/finalizar-ticket/" style="text-decoration: none;"><div class="btn-dark-outline">Finalizar um Ticket</div></a>
    </div>

    <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos</div>
  </div>
