<jhi-sidebar></jhi-sidebar>

<a class="btn btn-primary" href="https://app.mistercontador.com.br" target="_blank" style="position: fixed; top: 20px; right: 20px; z-index: 1000;">Ir para o Mister</a>

<div class="hero">
    <h1>Integrações Bancárias</h1>
  </div>

  <div class="content">
    <div class="btn-grid">
      <a href="/integracoes-bancarias/integra" class="underline"><div class="btn-dark-outline">Integração Bancária</div></a>
      <a href="/integracoes-bancarias/integra-bb" class="underline"><div class="btn-dark-outline">Integração Banco do Brasil</div></a>
      <a href="/integracoes-bancarias/inter-01" class="underline"><div class="btn-dark-outline">Integração Bancária Banco Inter: Etapa 1 – Empresa</div></a>
      <a href="/integracoes-bancarias/inter-02" class="underline"><div class="btn-dark-outline">Integração Bancária Banco Inter: Etapa 2 – Contabilidade</div></a>
    
    </div>

    <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos</div>
  </div>
