<jhi-sidebar></jhi-sidebar>

<div class="hero">
    <h1>Upload Manual dos Comprovantes de Pagamento</h1>
    <p class="text-primary">Importação manual de Comprovantes de Pagamentos</p>
  </div>

  <div class="content">
    <div class="section">
        <h4>Resumo</h4>
        <p>Descubra como importar os comprovantes de pagamentos de forma rápida e descomplicada no Mister Contador! Neste guia, vamos explorar passo a passo como realizar essa tarefa dentro do Mister.</p>
    </div>

    <div class="section">
        <h4>Introdução</h4>
        <p>O Mister Contador utiliza os comprovantes de pagamentos para realizar a associação das notas fiscais de entrada aos respectivos pagamentos. Esta funcionalidade é importante para quem não abre mão de uma contabilização bem feita. Com o Mister, uma contabilidade bem feita e assertiva se torna uma brisa refrescante, proporcionando praticidade e eficiência.</p>
    </div>

    <div class="section">
        <h4>Visão Geral do Recurso/Funcionalidade</h4>
        <p>No Mister Contador, você pode importar os comprovantes de pagamentos de fornecedores, pagamentos de convênios, comprovantes de transferências, pagamentos a concessionárias, etc. Vamos explorar como fazer isso de forma simples e descomplicada!</p>
    </div>

    <div class="section">
      <h4>Passo a Passo</h4>
      <ol>
        <li>Na aba lateral esquerda, clique em "Comprovante de Pagto".</li>
        <li>Em seguida, selecione a agência bancária correspondente aos comprovantes que irá importar e em seguida, clique em "Carregar":</li>
        <div class="img-block"><img src="/assets/img/comprovantes/upload/upload.png" class="img-fluid rounded"></div>
        <li>Arraste os arquivos de comprovantes para dentro da "nuvem" no centro da tela.</li>
        <div class="img-block"><img src="/assets/img/comprovantes/upload/upload2.png" class="img-fluid rounded"></div>
        <li>Os comprovantes serão mostrados no Mister Contador, desta forma:</li>
        <div class="img-block"><img src="/assets/img/comprovantes/upload/upload3.png" class="img-fluid rounded"></div>
    </ol>
    </div>

    <div class="section">
        <h4>Melhores Práticas e Dicas Avançadas</h4>
        <li>Ao clicar no número do Documento, na tela em que aparecem os comprovantes, o PDF do documento será aberto para visualização.</li>
        <li>A exclamação em vermelho indica os comprovantes que ainda não foram associados a uma linha correspondente no extrato bancário.</li>
        <li>Lembre-se: os arquivos devem estar soltos, sem compactação.</li>
        <li>O Mister só irá associar as notas fiscais de entrada de forma automática, se no comprovante de pagamento estiver informado o CNPJ do fornecedor da nota fiscal. Note que nos pagamentos realizados em alguns bancos, essa informação não está disponível.</li>
        <li>Ao fazer upload de comprovantes de pagamentos no Mister, o usuário terá o benefício de consultar na tela cada comprovante, abandonando definitivamente as caixas de arquivo morto.</li>
      </div>

    <div class="section">
      <h4>Perguntas Frequentes (FAQ)</h4>

      <div class="section">
        <ol>
          <li><h5>Por que importar os comprovantes no Mister?</h5>
            <p>O Mister, ao realizar a leitura dos comprovantes, consegue identificar o CNPJ do beneficiário, e assim associar as notas de entradas e também, identifica e contabiliza os valores de juros, multas ou descontos que estão no comprovante.</p>
          </li>

          <li><h5>Quais os tipos de comprovantes posso importar no Mister Contador?</h5>
            <p>É possível importar comprovantes de pagamentos de boletos, faturas, transferências (TED) e PIX (se o número da agência e da conta bancária estiverem informados no documento).</p>
          </li>
        </ol>
      </div>
    </div>

    <div class="section">
      <h4>Exemplos de Uso</h4>
      <li>Pedro, colaborador do departamento contábil, recebeu da empresa cliente, 23 arquivos de comprovantes de pagamentos e precisa importar no Mister Contador. Para importar mais de um arquivo no Mister, ao invés de clicar em "selecionar o arquivo", Pedro deve abrir a pasta em que os comprovantes estão, selecionar os arquivos dos comprovantes e arrastar para a janela do Mister.</li>
    </div>

    <div class="section">
      <h4>Conclusão</h4>
      <li>A importação dos comprovantes de pagamentos é uma tarefa essencial para garantir uma contabilidade assertiva e bem feita. Com o Mister Contador, esse processo se torna simples e eficiente, permitindo que você tenha um histórico contábil completo, nos lançamentos contábeis de pagamentos de fornecedores ou recebimentos de clientes. Experimente agora e simplifique sua vida contábil com o Mister Contador!</li>
    </div>

    <div class="section">
      <h4>Recursos Adicionais</h4>
      <li>Links para recursos extras, como tutoriais em vídeo, documentação detalhada, fóruns de discussão ou outros materiais de suporte relevantes.</li>
    </div>

    <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos</div>
  </div>
