<jhi-sidebar></jhi-sidebar>

<a class="btn btn-primary" href="https://app.mistercontador.com.br" target="_blank" style="position: fixed; top: 20px; right: 20px; z-index: 1000;">Ir para o Mister</a>

<div class="hero">
    <h1>Upload Manual de Extratos Bancários</h1>
  </div>

  <div class="content">
    <div class="video-wrapper">
        <iframe src="https://www.youtube.com/embed/TtrojP4x0VI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="section">
      <h4>Resumo</h4>
      <p>Descubra como importar os extratos bancários de forma rápida e descomplicada no Mister Contador! Neste guia, vamos explorar passo a passo como realizar essa tarefa dentro do Mister.</p>
    </div>

    <div class="section">
      <h4>Introdução</h4>
      <p>O Mister Contador aceita a importação do extrato bancário, tanto em PDF, quando em OFX. Neste artigo, vamos mostrar como realizar esse processo de forma descomplicada e ágil.</p>
    </div>

    <div class="section">
      <h4>Visão Geral do Recurso/Funcionalidade</h4>
      <p>No Mister Contador, você pode importar os extratos bancários em PDF ou OFX. Pela facilidade de visualização as informações, sugerimos que importe os extrato em PDF. Vamos explorar como fazer isso de forma simples e descomplicada.</p>
    </div>

    <div class="section">
      <h4>Passo a Passo</h4>
      <ol>
        <li><strong>Na aba lateral esquerda, clique em "Extrato bancário".</strong></li>
        <li><strong>Em seguida, selecione a agência bancária correspondente ao extrato que irá importar e em seguida, clique em "Carregar":</strong></li>
        <li><strong>Arraste o arquivo do extrato dentro da "nuvem" no centro da tela, ou busque o arquivo do extrato, clicando em "ou selecione o arquivo".</strong></li>
        <li><strong>O extrato será mostrado no Mister Contador, desta forma:</strong></li>
      </ol>
    </div>

    <div class="section">
      <h4>Melhores Práticas e Dicas Avançadas</h4>
      <li>Prefira importar o extrato bancário em PDF, pois a fartura de dados contido nesse tipo de arquivo (extrato bancário em pdf) pode potencializar a precisão do seu registro contábil.</li>
      <li>Quando o arquivo do extrato é importado em PDF, ao clicar no número do Documento (na secção Extrato Bancário), será exposto na tela o extrato bancário em pdf para visualização.</li>
    </div>

    <div class="section">
      <h4>Perguntas Frequentes (FAQ)</h4>

      <div class="section">
        <ol>
          <li><h5>Posso importar o extrato somente em PDF?</h5>
            <p>Não. O Mister também aceita o arquivo em OFX do extrato bancário, porém existirão algumas limitações inerentes a falta de informações nesse arquivo.</p>
          </li>

          <li><h5>Por que é recomendado importar o extrato em PDF?</h5>
            <p>Sugerimos sempre que possível, que seja priorizado a importação de extrato bancário em PDF, pois a riqueza de detalhe contida nesse tipo de arquivo (extrato bancário em pdf) irá potencializar a criação de regras e a precisão do seu lançamento contábil.</p>
          </li>

          <li><h5>O que fazer se o meu cliente enviar o extrato bancário de um banco, que não está cadastrado no Mister?</h5>
            <p>Você deve acessar o chat de atendimento e solicitar o cadastro do novo Banco. Para isso, você precisa enviar os arquivos em PDF ou OFX de três períodos diferentes, para nossos técnicos mapearem um padrão de extrato.</p>
          </li>
        </ol>
      </div>
    </div>

    <div class="section">
      <h4>Exemplos de Uso</h4>
      <li>João, colaborador do departamento contábil, recebeu da empresa cliente, o extrato bancário do mês de janeiro em PDF e OFX. Ele deve dar preferência ao arquivo em PDF, para realizar o upload no Mister. Pois, será mais fácil de visualizar as informações, como por exemplo, número de agência e da conta bancária, ou consultar algum lançamento no extrato.</li>
    </div>

    <div class="section">
      <h4>Conclusão</h4>
      <li>Apesar do Mister aceitar o upload de extratos em PDF e OFX, a sugestão é que os usuários façam o upload do arquivo em PDF sempre que possível, para ter mais facilidade de visualizar as informações do extrato. Experimente agora e simplifique sua vida contábil com o Mister Contador!</li>
    </div>

    <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos</div>
  </div>
