<jhi-sidebar></jhi-sidebar>

<a class="btn btn-primary" href="https://app.mistercontador.com.br" target="_blank" style="position: fixed; top: 20px; right: 20px; z-index: 1000;">Ir para o Mister</a>

<div class="hero">
        <h1>Exportação de Lançamentos SCI Único</h1>
        <p class="text-primary">Exporte e importe lançamentos contábeis para o sistema SCI Único</p>
    </div>

    <!-- CONTENT -->
    <div class="content">
        <div class="section">
            <h4>Resumo</h4>
            <p>Este artigo fornece instruções detalhadas sobre como importar os lançamentos contábeis emitidos pelo Mister Contador para o sistema SCI Único, de forma rápida e assertiva.</p>
        </div>

        <div class="section">
            <h4>Introdução</h4>
            <p>A importação correta dos lançamentos contábeis é crucial para a precisão e integridade dos registros contábeis de uma empresa. Este guia detalha o procedimento passo a passo para importar esses dados do Mister Contador para o sistema SCI Único, garantindo uma contabilidade precisa e eficiente.</p>
        </div>

        <div class="section">
            <h4>Visão Geral do Recurso/Funcionalidade</h4>
            <p>A funcionalidade de exportação de lançamentos contábeis do Mister para o sistema SCI Único permite aos usuários integrarem facilmente os dados gerados pelo Mister Contador ao sistema contábil. Isso é feito através de uma interface simples e direta, que garante a precisão e a consistência dos dados exportados.</p>
        </div>

        <div class="section">
            <h4>Passo a Passo</h4>
            
            <div class="section">
                <h5>1. Gerar o arquivo de exportação:</h5>
                <p>Depois de finalizar toda a conciliação no Mister Contador, na aba "Registro Contábil", acesse "Ações" e clique em "Exportar Lançamentos Contábeis".</p>
                    <div class="img-block">
                        <img src="/assets/img/exportacao/unico/export_unico.png" class="img-fluid rounded">
                    </div>
            </div>

            <div class="section">
                <h5>2. Acessar o sistema SCI Único vá para o Único Contábil:</h5>
                <p>Selecione a opção de Importação lançamentos contábeis via arquivo TXT</p>
                    <div class="img-block">
                        <img src="/assets/img/exportacao/unico/export_unico2.png" class="img-fluid rounded">
                    </div>
            </div>

            <div class="section">
                <h5>3. Selecionar o período:</h5>
                <p>Selecione o período do arquivo a ser exportado.</p>
                    <div class="img-block">
                        <img src="/assets/img/exportacao/unico/export_unico3.png" class="img-fluid rounded">
                    </div>
            </div>

            <div class="section">
                <h5>4. Selecionar o arquivo TXT:</h5>
                <p>Selecione o arquivo e clique em "Open/Abrir":</p>
                    <div class="img-block">
                        <img src="/assets/img/exportacao/unico/export_unico4.png" class="img-fluid rounded">
                    </div>
            </div>
        </div>

        <div class="section">
            <h4>Melhores Práticas e Dicas Avançadas</h4>
            <ul>
                <li>Antes de exportar os lançamentos contábeis, verifique se o arquivo dos lançamentos contábeis está corretamente formatado e todos os dados estão completos e precisos.</li>
                <li>Realize uma revisão cuidadosa dos lançamentos contábeis antes de confirmar a exportação para garantir a integridade dos dados.</li>
            </ul>
        </div>

        <div class="section">
            <h4>Perguntas Frequentes (FAQ)</h4>
            
            <div class="section">
                <ol><li><h5>Posso exportar os lançamentos contábeis de vários períodos em um único arquivo?</h5></li>
                    <p>Não. Só é possível gerar um único arquivo por período mensal para a exportação.</p>
                    <li><h5>Posso exportar os lançamentos contábeis de mais de uma conta bancária em um único arquivo?</h5></li>
                    <p>Não. Só é possível gerar o arquivo de lançamentos contábeis de uma conta bancária por vez.</p>
                </ol>
            </div>
        </div>

        <div class="section">
            <h4>Exemplos de Uso</h4>
            <li>João, responsável pelo departamento contábil do escritório, gera e exporta o arquivo de lançamentos contábeis das empresas, sempre que finaliza a conciliação. Assim, mantém a contabilidade dos seus clientes sempre em dia.</li>
            
            <li>Ana, colaboradora do departamento contábil, analisa o arquivo de lançamentos contábeis antes de realizar a exportação para o SCI Único. Assim, ela garante que a contabilidade dos seus clientes esteja corretamente lançada e sempre em dia.</li>
        </div>

        <div class="section">
            <h4>Conclusão</h4>
            <li>A exportação dos lançamentos contábeis do Mister Contador para o sistema SCI Único é essencial para o contador que gosta manter a contabilidade dos seus clientes precisa e atualizada. Ao seguir este guia, os usuários podem garantir a agilidade na contabilidade e a precisão dos dados contábeis.</li>
        </div>

        <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos.</div>
    </div>
