<jhi-sidebar></jhi-sidebar>

<div class="hero">
        <h1>Responder um Ticket</h1>
        <p class="text-primary">Guia para clientes responderem tickets de contadores</p>
    </div>

    <!-- CONTENT -->
    <div class="content">
        <div class="section">
            <h4>Resumo</h4>
            <p>Este artigo orienta os clientes (Empreendedor) de contadores sobre como responder a um ticket gerado pelo Mister Contador, garantindo uma comunicação eficaz e a segurança das informações compartilhadas.</p>
        </div>

        <div class="section">
            <h4>Introdução</h4>
            <p>Responder a um ticket é um processo simples que permite ao cliente (empreendedor) do contador esclarecer dúvidas sobre transações financeiras pontuais que impedem que o profissional contábil possa fazer o registro contábil perfeito. Este guia passo a passo assegura que todas as respostas sejam precisas e seguras.</p>
        </div>

        <div class="section">
            <h4>Visão Geral do Recurso/Funcionalidade</h4>
            <p>Para manter a segurança e garantir que as informações corretas sejam fornecidas ao contador correto, o Mister Contador implementou um sistema de autenticação que requer a confirmação do CNPJ antes de permitir o acesso aos lançamentos contábeis a serem esclarecidos.</p>
        </div>

        <div class="section">
            <h4>Passo a Passo</h4>
            
            <div class="section">
                <h5>1. Autenticação:</h5>
                <p>Ao receber o link do ticket, você será solicitado a inserir o CNPJ de sua empresa. Essa solicitação tem o objetivo de garantir que o link não seja enviado ao cliente errado.</p>
            </div>

            <div class="section">
                <h5>2. Cadastro no Mister:</h5>
                    <div class="img-block">
                        <img src="/assets/img/ticket/responder_ticket/respondertk.png" class="img-fluid rounded">
                    </div>
            </div>

            <div class="section">
                <h5>3. Autenticação na funcionalidade de Gerar Ticket:</h5>
                <p>O Cliente pode colocar o CNPJ com ou sem máscara.</p>
                    <div class="img-block">
                        <img src="/assets/img/ticket/responder_ticket/respondertk2.png" class="img-fluid rounded">
                    </div>
            </div>

            <div class="section">
                <h5>4. Visualização dos Lançamentos Contábeis:</h5>
                <p>Após a autenticação, uma nova tela mostrará os lançamentos que o contador precisa de esclarecimento. Revise cuidadosamente cada item listado.</p>
                    <div class="img-block">
                        <img src="/assets/img/ticket/responder_ticket/respondertk3.png" class="img-fluid rounded">
                    </div>
            </div>

            <div class="section">
                <h5>5. Anexar Arquivos:</h5>
                <p>Se precisar enviar documentos que ajudem a explicar qualquer transação, clique no clipe de papel para anexar arquivos. O limite para cada arquivo é de 5MB.</p>
                    <div class="img-block">
                        <img src="/assets/img/ticket/responder_ticket/respondertk4.png" class="img-fluid rounded">
                    </div>
            </div>

            <div class="section">
                <h5>6. Fornecer Explicações:</h5>
                <p>Utilize a caixa de texto para detalhar as informações sobre a transação bancária que está sendo questionada. É importante fornecer detalhes claros para auxiliar seu contador na reconciliação.</p>
                    <div class="img-block">
                        <img src="/assets/img/ticket/responder_ticket/respondertk5.png" class="img-fluid rounded">
                    </div>
            </div>

            <div class="section">
                <h5>7. Salvar e Enviar Resposta:</h5>
                <p>Após preencher as informações necessárias e anexar quaisquer documentos relevantes, preencha seu nome e clique em 'Salvar'. Você será direcionado para uma tela de confirmação, informando que suas informações foram enviadas com sucesso. Lembre-se porém que todas as respostas deverão ser explicadas, para que o botão de salvar seja disponibilizado após o preenchimento do nome do cliente.</p>
                    <div class="img-block">
                        <img src="/assets/img/ticket/responder_ticket/respondertk6.png" class="img-fluid rounded">
                    </div>
            </div>
        </div>

        <div class="section">
            <h4>Melhores Práticas e Dicas Avançadas</h4>
            <ul>
                <li><strong>Confirme o CNPJ:</strong> Certifique-se de que o CNPJ inserido esteja correto para evitar acessos não autorizados ou enganos.</li>
                <li><strong>Detalhes Claros:</strong> Ao explicar uma transação, seja o mais detalhado possível para evitar futuros mal-entendidos.</li>
                <li><strong>Verifique os Anexos:</strong> Antes de enviar, revise os documentos anexados para garantir que eles são pertinentes e legíveis.</li>
            </ul>
        </div>

        <div class="section">
            <h4>Perguntas Frequentes (FAQ)</h4>
            
            <div class="section">
                <ol><li><h5>O que acontece se eu digitar um CNPJ que não corresponde ao cadastrado?</h5></li>
                    <p>Você não poderá acessar os detalhes do ticket até que forneça o CNPJ correto que coincide com o cadastrado no sistema do Mister Contador.</p>
                    <li><h5>Quais tipos de arquivos é possível anexar?</h5></li>
                    <p>Você poderá anexar: Vídeos, Fotos, planilhas, comprovantes, extrato, documentos de texto, entre outros tipos de arquivos… Tudo isso desde que o arquivo contenha menos de 5mb.</p>
                </ol>
            </div>
        </div>

        <div class="section">
            <h4>Exemplos de Uso</h4>
            <li>Ana, gerente financeira de uma empresa de construção, recebe um ticket de seu contador solicitando esclarecimentos sobre algumas transações não conciliadas. Ela usa o processo descrito acima para fornecer rapidamente as explicações necessárias e documentos de suporte, facilitando o fechamento de sua contabilidade em tempo hábil.</li>
        </div>

        <div class="section">
            <h4>Conclusão</h4>
            <li>Responder a um ticket no Mister Contador é um processo seguro e estruturado que facilita a comunicação entre clientes e contadores, assegurando a precisão na reconciliação de lançamentos contábeis. Seguindo estes passos, você pode contribuir significativamente para a contabilidade assertiva, eficiente e rápida de sua empresa.</li>
        </div>

        <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos.</div>
    </div>
