<jhi-sidebar></jhi-sidebar>

<div class="hero">
        <h1>Edição Avançada</h1>
        <p class="text-primary">Edite e personalize seus lançamentos contábeis com recursos avançados</p>
    </div>

    <!-- CONTENT -->
    <div class="content">
        <div class="section">
            <h4>Resumo</h4>
            <p>A Edição Avançada é uma funcionalidade poderosa do Mister Contador, permitindo realizar lançamentos contábeis múltiplos em diversas situações. Neste artigo, vamos detalhar como usar esse recurso para associar notas fiscais, gerenciar pagamentos parciais, consolidar lançamentos de fornecedores e muito mais.</p>
        </div>

        <div class="section">
            <h4>Introdução</h4>
            <p>Quando se trata de contabilidade, a precisão e a eficiência são fundamentais. A Edição Avançada do Mister Contador é uma ferramenta essencial que possibilita realizar lançamentos múltiplos, além de agilizar o processo de conciliação do extrato bancário.</p>
        </div>

        <div class="section">
            <h4>Visão Geral do Recurso/Funcionalidade</h4>
            <p>A Edição Avançada permite realizar lançamentos múltiplos em diferentes cenários, como por exemplo, associação manual de notas fiscais aos pagamentos de fornecedores, no extrato bancário, incluindo a contabilização de pagamentos parciais. Também é possível associar manualmente as notas de vendas, os recebimentos de clientes, que estão informados no extrato bancário e muito mais. É uma ferramenta versátil e poderosa para simplificar tarefas contábeis complexas.</p>
        </div>

        <div class="section">
            <h4>Passo a Passo</h4>
            <ol>
                <li>Acesse a tela de "Registro Contábil" no Mister Contador.</li>
                <li>Clique no ícone de "Edição Avançada" (lapisinho) na linha amarela correspondente ao lançamento que deseja editar.</li>
                <li>Escolha a opção relevante para sua necessidade, como "Associar Notas Fiscais" ou "Associar Conta Contábil".</li>
                <li>Preencha os campos necessários, como número da nota fiscal, valor da parcela, conta contábil, etc.</li>
                <li>Verifique se o saldo está zerado e clique em "Salvar".</li>
            </ol>
        </div>

        <div class="section">
            <h4>Melhores Práticas e Dicas Avançadas</h4>
            
            <div class="section">
                <h5>Associar Notas Fiscais:</h5>
                <ul>
                    <li>Utilize essa opção quando precisar associar notas fiscais aos pagamentos realizados. Busque as notas pelo número, empresa, CNPJ, valor da parcela ou data de vencimento.</li>
                    <li>Se houver um saldo, é possível gerar uma nova parcela da nota fiscal associada clicando em "Gerar Parcela NF".</li>
                </ul>
            </div>

            <div class="section">
                <h5>Contabilizar Pagamentos Parciais:</h5>
                <ul>
                    <li>Quando houver pagamentos parciais de notas fiscais, é possível associar a nota ao pagamento e gerar a próxima parcela.</li>
                    <li>Se houver descontos ou juros, utilize a opção "Gerar Desconto" ou "Gerar Juros/Multa".</li>
                </ul>
            </div>
        </div>

        <div class="section">
            <h4>Perguntas Frequentes (FAQ)</h4>
            
            <div class="section">
                <ol><li><h5>Posso associar mais de uma nota fiscal a um pagamento?</h5></li>
                <p>Sim, é possível associar várias notas fiscais a um pagamento desde que o saldo seja zerado.</p>
                <li><h5>Como faço para gerar uma nova parcela de uma nota fiscal?</h5></li>
                <p>Utilize a opção "Gerar Parcela NF" quando houver um saldo para associar ao próximo pagamento.</p>
            </ol>
        </div>    

        <div class="section">
            <h4>Exemplos de Uso</h4>
            
            <div class="section">
                <h5>Exemplo 1: Pagamentos de Fornecedores Com Comprovantes de Pagamento e Notas Importadas Não Associadas:</h5>
                <li>Ao clicar em "Edição Avançada", selecione "Associar Notas Fiscais".</li>
                    <div class="img-block">
                        <img src="/assets/img/edicao_nfe/edit_avancada1.png" class="img-fluid rounded">
                    </div>
                    <div class="img-block">
                        <img src="/assets/img/edicao_nfe/edit_avancada2.png" class="img-fluid rounded">
                    </div>
                <li>A nota pode ser pesquisada pelo número, empresa, cnpj, valor parcela, ou dt parcela. Neste exemplo, pesquisamos pelo valor parcela</li>
                    <div class="img-block">
                        <img src="/assets/img/edicao_nfe/edit_avancada3.png" class="img-fluid rounded">
                    </div>
                <li>Selecione a nota fiscal correspondente ao pagamento e verifique o saldo antes de salvar.</li>
                    <div class="img-block">
                        <img src="/assets/img/edicao_nfe/edit_avancada4.png" class="img-fluid rounded">
                    </div>
                <li>Se houver juros, multa ou descontos no comprovantes, clique em "processar sado" e selecione a opção correspondente.</li>
                
                <li>Se o saldo não zerar, é necessário "processar o saldo"  e informar a que se refere este saldo:  juros, taxa, multa ou limpar os registros, para refazer.</li>
                    <div class="img-block">
                        <img src="/assets/img/edicao_nfe/edit_avancada5.png" class="img-fluid rounded">
                    </div>
                <li>Se foram selecionadas mais de uma nota para o pagamento, restando algum saldo, não é possível "processar o saldo". Será necessário indicar a conta contábil para lançar esse saldo. Você deve clicar em "Adicionar Conta Contábil" e informar a conta contábil correspondente, se for juros, multa ou desconto, por exemplo.</li>
                    <div class="img-block">
                        <img src="/assets/img/edicao_nfe/edit_avancada6.png" class="img-fluid rounded">
                    </div>
                </div>

            <div class="section">
                <h5>Exemplo 2: Pagamentos de Fornecedores Sem Comprovantes de Pagamento e Com Notas Importadas:</h5>
                <li>Utilize a opção "Associar Notas Fiscais".</li>
                    <div class="img-block">
                        <img src="/assets/img/edicao_nfe/edit_avancada7.png" class="img-fluid rounded">
                    </div>
                <li>Pesquise a(s) nota(s) pelo número, empresa, cnpj, valor parcela, ou dt parcela</li>
                    <div class="img-block">
                        <img src="/assets/img/edicao_nfe/edit_avancada8.png" class="img-fluid rounded">
                    </div>
                <li>Se houver pagamentos parciais, é possível associar a nota ao pagamento e gerar a próxima parcela, ou informar o desconto concedido. APENAS QUANDO FOR UMA ÚNICA NOTA</li>
                    <div class="img-block">
                        <img src="/assets/img/edicao_nfe/edit_avancada9.png" class="img-fluid rounded">
                    </div>
                <li>Se foram selecionadas mais de uma nota para o pagamento, restando algum saldo, é preciso indicar a conta contábil para lançar esse saldo. Você deve clicar em "Adicionar Conta Contábil" e informar a conta contábil correspondente, se for juros, multa ou desconto, por exemplo.</li>
                    <div class="img-block">
                        <img src="/assets/img/edicao_nfe/edit_avancada10.png" class="img-fluid rounded">
                    </div>
                </div>

            <div class="section">
                <h5>Exemplo 3: Pagamentos de Fornecedores Sem Comprovantes Importados e Sem Notas Importadas (SISPAG FORNECEDORES do Itaú):</h5>
                <li>Clique em "Associar Conta Contábil" e selecione as contas contábeis dos fornecedores inclusos no lançamento do extrato.</li>
                    <div class="img-block">
                        <img src="/assets/img/edicao_nfe/edit_avancada11.png" class="img-fluid rounded">
                    </div>
                    <div class="img-block">
                        <img src="/assets/img/edicao_nfe/edit_avancada12.png" class="img-fluid rounded">
                    </div>
                <li>Verifique se o saldo está zerado para salvar o lançamento.</li>
                    <div class="img-block">
                        <img src="/assets/img/edicao_nfe/edit_avancada13.png" class="img-fluid rounded">
                    </div>
            </div>

            <div class="section">
                <h5>Exemplo 4: Associar Recebimentos a Notas Fiscais de Saída:</h5>
                <li>Ao clicar em "Edição Avançada", selecione "Associar Notas Fiscais".</li>
                    <div class="img-block">
                        <img src="/assets/img/edicao_nfe/edit_avancada14.png" class="img-fluid rounded">
                    </div>
                <li>Pesquise a(s) nota(s) pelo número, empresa, cnpj, valor parcela, ou dt parcela</li>
                    <div class="img-block">
                        <img src="/assets/img/edicao_nfe/edit_avancada15.png" class="img-fluid rounded">
                    </div>
                <li>Associe a nota ao recebimento, verifique a conta contábil para o lançamento e o saldo antes de salvar.</li>
                    <div class="img-block">
                        <img src="/assets/img/edicao_nfe/edit_avancada16.png" class="img-fluid rounded">
                    </div>
                </div>
        </div>

        <div class="section">
            <h4>Conclusão:</h4>
            <li>A Edição Avançada no Mister Contador é uma ferramenta poderosa para simplificar tarefas contábeis complexas. Com os passos e dicas fornecidos neste artigo, você estará pronto para enfrentar uma variedade de cenários contábeis com confiança e eficiência, garantindo a precisão e a integridade dos seus registros contábeis.</li>
        </div>

        <div class="section">
            <h4>Recursos Adicionais:</h4>
            <li>Links para recursos extras, como tutoriais em vídeo, documentação detalhada, fóruns de discussão ou outros materiais de suporte relevantes.</li>
        </div>

        <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos.</div>
    </div>
