<jhi-sidebar></jhi-sidebar>

<a class="btn btn-primary" href="https://app.mistercontador.com.br" target="_blank" style="position: fixed; top: 20px; right: 20px; z-index: 1000;">Ir para o Mister</a>

<div class="hero">
    <h1>Plano de Contas na Domínio</h1>
    <p class="text-primary">Como gerar o plano de contas na Domínio</p>
  </div>

  
  <div class="content">
    <div class="section">
        <a class="btn btn-primary mt-3" href="/arquivos/plano_contas_mister.bgr" download>
            Baixe aqui o arquivo <i class='bx bx-download'></i>
          </a>
    </div>

    <div class="section">
      <h4>Resumo</h4>
      <p>Este guia fornece instruções detalhadas sobre como gerar o plano de contas na Domínio, de acordo com o padrão Mister Contador. O plano de contas é essencial para organizar e categorizar as transações financeiras de uma empresa de forma eficiente e padronizada. Por isso, ele deve sempre estar atualizado.</p>
    </div>

    <div class="section">
      <h4>Introdução</h4>
      <p>O plano de contas é a espinha dorsal da contabilidade de qualquer empresa. Para os escritórios contábeis, é essencial ter uma metodologia clara e simplificada para criar e personalizar o plano de contas de acordo com as necessidades de cada cliente...</p>
    </div>

    <div class="section">
      <h4>Visão Geral do Recurso/Funcionalidade</h4>
      <p>A geração do plano de contas no padrão Mister Contador na Domínio, permite criar uma estrutura contábil alinhada com as melhores práticas...</p>
    </div>

    <div class="section">
      <h4>Passo a Passo</h4>
      <h5><strong>1. Arquivo .bgr já está salvo na Domínio:</strong></h5>
      <ul>
        <li><strong>OBS: Se ainda não salvou o arquivo .bgr, vá para o passo 2.</strong></li>
      </ul>
      <ul>
        <li>Selecione a empresa desejada e vá para o menu “Relatórios”, “Gerenciador de Relatórios”.</li>
        <div class="img-block">
          <img src="/assets/img/plano-de-contas/dominio/img/image1.png" alt="Tela do Gerenciador de Relatórios" class="img-fluid rounded" syu>
        </div>
        <li>Clique em “Diversos” e selecione a opção “Plano de Contas – MISTER CONTADOR”.</li>
        <div class="img-block">
          <img src="/assets/img/plano-de-contas/dominio/img/image2.png" alt="Opção Plano de Contas" class="img-fluid rounded">
        </div>
        <li>Execute o relatório e salve o arquivo em .XLS ou .PDF em uma pasta de sua escolha.</li>
        <li>Ao gerar o plano de contas em .XLS, antes de fazer o upload no Mister Contador, abra o arquivo .XLS no Excel e salve com outro nome, excluindo a expressão "MISTER CONTADOR".</li>
      </ul>
    </div>

    <div class="section">
        <h5><strong>2. Se ainda ainda não salvou o arquivo .bgr, é necessário salvar: </strong></h5>
        <ul>
            <li>Faça o download do arquivo  <a class="" href="/arquivos/plano_contas_mister.bgr" download> "Modelo Padrão Plano de Contas em xls ou pdf - MISTER CONTADOR.bgr"<i class='bx bx-download'></i>
              </a>, que está disponível acima, ou na página do Mister, em "Precisa de ajuda", ou solicite em nosso chat de atendimento.</li>
              <li>Salve o arquivo em uma pasta de sua preferência.</li>
        </ul>
    </div>

    <div class="section">
        <h5>3. Acessar a Domínio Sistemas:</h5>
        <ul>
            <li>Acesse a Domínio Sistemas no módulo “Contabilidade” com o usuário “Gerente”.</li>
        </ul>
    </div>
   
    <div class="section">
        <h5>4. Importar o arquivo .bgr</h5>
        <ul>
            <li>Vá para o menu “Relatórios” e clique em “Gerenciador de Relatórios”.</li>
            <div class="img-block">
                <img src="/assets/img/plano-de-contas/dominio/img/image3.png" alt="Opção Plano de Contas" class="img-fluid rounded">
            </div>
            <li>Clique no botão “Gerador” e, em seguida, no menu “Utilitários”, selecione “Importar”.</li>
            <div class="img-block">
                <img src="/assets/img/plano-de-contas/dominio/img/image4.png" alt="Opção Plano de Contas" class="img-fluid rounded">
                <img src="/assets/img/plano-de-contas/dominio/img/image5.png" alt="Opção Plano de Contas" class="img-fluid rounded">
            </div>
            <li>Escolha o arquivo .bgr previamente baixado e confirme a importação.</li>
        </ul>
    </div>

    <div class="section">
        <h5>5. Salvar o arquivo .bgr:</h5>
        <ul>
            <li>Na linha “Arquivo”, clique em “...” e selecione a pasta onde o arquivo Modelo Padrão (.bgr) foi salvo.</li>
            <div class="img-block">
                <img src="/assets/img/plano-de-contas/dominio/img/image6.png" alt="Opção Plano de Contas" class="img-fluid rounded" style="width: 600px;"> 
            </div>
            <li>Clique em “Abrir” e, em seguida, em “OK”. Caso já exista o arquivo, clique em OK para substituir o existente. </li>
            <li>Aguarde a mensagem “Importação feita com sucesso!” e feche o Domínio Gerador.</li>
        </ul>
    </div>

    <div class="section">
        <h5>6. Gerar o plano de contas</h5>
        <ul>
            <li>Selecione a empresa desejada e vá para o menu “Relatórios”, “Gerenciador de Relatórios”.</li>
            <div class="img-block">
                <img src="/assets/img/plano-de-contas/dominio/img/image7.png" alt="Opção Plano de Contas" class="img-fluid rounded">
            </div>
            <li>Clique em “Diversos” e selecione a opção "Plano de Contas - MISTER CONTADOR".</li>
            <div class="img-block">
                <img src="/assets/img/plano-de-contas/dominio/img/image8.png" alt="Opção Plano de Contas" class="img-fluid rounded">
            </div>
            <li>Execute o relatório e salve o arquivo em .XLS ou .PDF em uma pasta de sua escolha.</li>
            <li>Ao gerar o plano de contas em .XLS, antes de fazer o upload no Mister Contador, abra o arquivo .XLS no Excel, clique em "salvar como" e salve com outro nome, excluindo a expressão "MISTER CONTADOR". 
                Em alguns casos, também é necessário excluir a primeira linha do plano de contas, quando estiver em branco.
            </li>
        </ul>
    </div>

    <div class="section">
        <h5>7. Modelo do plano de contas da Domínio, com o layout do Mister Contador em PDF:</h5>
        <div class="img-block">
            <img src="/assets/img/plano-de-contas/dominio/img/image9.png" alt="Opção Plano de Contas" class="img-fluid rounded">
        </div>
    </div>

    <div class="section">
        <h5>8.Modelo do plano de contas da Domínio, com o layout do Mister Contador em xls:</h5>
        <div class="img-block">
            <img src="/assets/img/plano-de-contas/dominio/img/image10.png" alt="Opção Plano de Contas" class="img-fluid rounded">
        </div>
    </div>

    <div class="section">
      <h4>Melhores Práticas e Dicas Avançadas</h4>
      <ul>
        <li>Certifique-se de selecionar a empresa correta antes de gerar o plano de contas.</li>
        <li>Verifique se a estrutura atende à configuração necessária antes do upload no Mister.</li>
        <p></p>
        <p>Certifique-se que o plano de contas da empresa que você selecionou, esteja sempre atualizado.</p>
      </ul>
    </div>

    <div class="section">
      <h4>Perguntas Frequentes (FAQ)</h4>
      <p><strong>1. Como atualizar o plano de contas no Mister Contador?</strong></p>
      <li>Após atualizar o plano na Domínio, gere o novo plano no padrão Mister e carregue no Mister, na área da empresa.</li>
    </div>

    <div class="section">
      <h4>Exemplos de Uso</h4>
      <li>Pedro, colaborador do departamento contábil, precisa cadastrar um novo cliente no Mister Contador. Ele deve gerar o plano de contas desse cliente na Domínio, no padrão Mister Contador, seguindo as instruções fornecidas e em seguida fazer o upload no Mister.</li>
      <li>Joana, colaboradora do departamento contábil, ao contabilizar o extrato de um cliente, verificou que estavam faltando as contas contábeis dos novos fornecedores. Ela deve atualizar na Domínio o plano de contas desse cliente com as novas contas de fornecedores. Após atualizar, ela deve gerar um novo plano de contas, no padrão Mister Contador e carregar no Mister, na área da empresa, no menu lateral, em "Plano de Contas".</li>
    </div>

    <div class="section">
      <h4>Conclusão</h4>
      <li>A geração do plano de contas na Domínio, seguindo o padrão Mister Contador, é uma etapa crucial para garantir uma contabilidade organizada e eficiente para os clientes do escritório contábil. Com este guia, os contadores podem simplificar o processo de configuração contábil e oferecer um serviço de qualidade aos seus clientes.</li>
    </div>

    <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos.</div>
  </div>
