<jhi-sidebar></jhi-sidebar>

<div class="hero">
    <h1>Cadastros</h1>
  </div>

  <div class="content">
    <div class="btn-grid">
      <a href="/cadastros/usuarios/usuarios.html" style="text-decoration: none;"><div class="btn-dark-outline">Cadastros de Novos Usuários</div></a>
      <a href="/cadastros/empresas/empresas.html" style="text-decoration: none;"><div class="btn-dark-outline">Cadastro de Empresa</div></a>
      <a href="/cadastros/agencia/agencia.html" style="text-decoration: none;"><div class="btn-dark-outline">Cadastro de Nova Agência Bancária</div></a>
    </div>

    <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos</div>
  </div>
