<jhi-sidebar></jhi-sidebar>

<div class="hero">
    <h1>Cadastros</h1>
  </div>

  <div class="content">
    <div class="btn-grid">
        <a routerLink="/cadastros/usuarios" class="underline"><div class="btn-dark-outline">Cadastros de Novos Usuários</div></a>
        <a routerLink="/cadastros/empresas" class="underline"><div class="btn-dark-outline">Cadastro de Empresa</div></a>
        <a routerLink="/cadastros/agencia" class="underline"><div class="btn-dark-outline">Cadastro de Nova Agência Bancária</div></a>
    </div>

    <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos</div>
  </div>
