<jhi-sidebar></jhi-sidebar>

<div class="hero">
    <h1>Registro Contábil</h1>
  </div>

  <div class="content">
    <div class="btn-grid">
      <a href="/registro/entendendo-registro/" style="text-decoration: none;"><div class="btn-dark-outline">Entendendo o Registro Contábil</div></a>
      <a href="/registro/transferencias-bancarias/" style="text-decoration: none;"><div class="btn-dark-outline">Transferências entre contas bancárias de mesma titularidade</div></a>
      <a href="/registro/associacao-conta-contabil/" style="text-decoration: none;"><div class="btn-dark-outline">Transferências entre contas bancárias de mesma titularidade</div></a>
    </div>

    <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos</div>
  </div>