<jhi-sidebar></jhi-sidebar>

<div class="hero">
    <h1>Registro Contábil</h1>
  </div>

  <div class="content">
    <div class="btn-grid">
      <a href="/assets/img/registro/entendendo_registro/entendendo_registro.html" class="btn-dark-outline">Entendendo o Registro Contábil</a>
      <a href="/assets/img/registro/transferencias_bancarias/transferencias_bancarias.html" class="btn-dark-outline">Transferências entre contas bancárias de mesma titularidade</a>
      <a href="/assets/img/registro/associacao_conta_contabil/associacao_conta_contabil.html" class="btn-dark-outline">Associação de Conta Contábil</a>
    </div>

    <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos</div>
  </div>
