<jhi-sidebar></jhi-sidebar>

<a class="btn btn-primary" href="https://app.mistercontador.com.br" target="_blank" style="position: fixed; top: 20px; right: 20px; z-index: 1000;">Ir para o Mister</a>

<div class="hero">
    <h1>Plano de Contas no Alterdata</h1>
    <p class="text-primary">Como gerar o plano de contas no Alterdata</p>
  </div>

  <div class="content">
    <div class="section">
      <h4>Resumo</h4>
      <p>Este guia fornece instruções detalhadas sobre como gerar o plano de contas no Alterdata, de acordo com o padrão Mister Contador. O plano de contas é essencial para organizar e categorizar as transações financeiras de uma empresa de forma eficiente e padronizada. Por isso, ele deve sempre estar atualizado.</p>
    </div>

    <div class="section">
      <h4>Introdução</h4>
      <p>O plano de contas é a espinha dorsal da contabilidade de qualquer empresa. Para os escritórios contábeis, é essencial ter uma metodologia clara e simplificada para criar e personalizar o plano de contas de acordo com as necessidades de cada cliente. Neste guia, vamos explorar o processo de geração do plano de contas no Alterdata, no padrão Mister Contador, destacando os passos necessários para garantir uma configuração precisa e eficaz.</p>
    </div>

    <div class="section">
      <h4>Visão Geral do Recurso/Funcionalidade</h4>
      <p>A geração do plano de contas no padrão Mister Contador no Alterdata permite criar uma estrutura contábil alinhada com as melhores práticas. Ao importar o arquivo de layout do plano de contas, fornecido pelo Mister Contador, os contadores podem configurar rapidamente o plano de contas de seus clientes para realizar o upload no Mister Contador.</p>
    </div>

    <div class="section">
      <h4>Passo a Passo</h4>
      <ul>
        <li><strong>1. Acesso ao Plano de Contas:</strong><br>Na tela inicial do Alterdata, selecione a opção "Plano de Contas".</li>
        <div class="img-block"><img src="/assets/img/plano-de-contas/alterdata/img/image1.png" class="img-fluid rounded"></div>

        <li><strong>2. Seleção da Empresa e Contas:</strong><br>Escolha a empresa desejada e clique em "Contas".</li>
        <div class="img-block"><img src="/assets/img/plano-de-contas/alterdata/img/image2.png" class="img-fluid rounded"></div>

        <li><strong>3. Configuração de Impressão:</strong><br>Na aba "Parâmetros de impressão", selecione "Completo" e clique em "Fechar".</li>
        <div class="img-block"><img src="/assets/img/plano-de-contas/alterdata/img/image3.png" class="img-fluid rounded"></div>

        <li><strong>4. Visualização do Plano de Contas:</strong><br>Acesse "Cadastro de Plano de Contas" e clique em "Visualiza Impressão".</li>
        <div class="img-block"><img src="/assets/img/plano-de-contas/alterdata/img/image4.png" class="img-fluid rounded"></div>

        <li><strong>5. Salvamento do Arquivo:</strong><br>Utilize o ícone "Save Report" para salvar o arquivo em PDF.</li>
        <div class="img-block"><img src="/assets/img/plano-de-contas/alterdata/img/image5.png" class="img-fluid rounded"></div>
        <div class="img-block"><img src="/assets/img/plano-de-contas/alterdata/img/image6.png" class="img-fluid rounded"></div>


        <li><strong>6. Modelo plano de contas em PDF:</strong><br>Reduza a descrição caso esteja muito longa e corte o número da conta reduzida.</li>
        <div class="img-block"><img src="/assets/img/plano-de-contas/alterdata/img/image7.png" class="img-fluid rounded"></div>
      </ul>
    </div>

    <div class="section">
      <h4>Melhores Práticas e Dicas Avançadas</h4>
      <ul>
        <li>Selecione a empresa correta antes de gerar o plano de contas.</li>
        <li>Abra o arquivo e verifique se a estrutura do plano de contas atende a configuração necessária para fazer o upload no Mister Contador. </li>
        <li>Certifique-se que o plano de contas da empresa que você selecionou, esteja sempre atualizado.</li>
        <li>Verifique se o número das contas reduzidas aparecem no final da linha da descrição da conta, entre parênteses. Caso não apareça o número da conta reduzida entre parênteses, será necessário reduzir a descrição da conta, editando direto na Alterdata.</li>
      </ul>
      <p>Verifique se o arquivo do plano de contas segue o layout especificado, em PDF legível. Pois, o Mister Contador não lê arquivos de imagens, ainda que estejam na extensão PDF. Para se certificar que o documento não é uma imagem, basta dar o comando "CTRL+F" e tentar localizar alguma expressão no documento. Se a busca for concluída e a expressão não for encontrada, não será possível ler este documento.</p>
    </div>

    <div class="section">
      <h4>Perguntas Frequentes (FAQ)</h4>
      <p><strong>1. Como atualizar o plano de contas no Mister Contador?</strong><br>Após atualizar o plano no Alterdata, gere o novo plano e carregue no Mister na área da empresa, no menu "Plano de Contas".</p>
    </div>

    <div class="section">
      <h4>Exemplos de Uso</h4>
      <ul>
        <li>Pedro, colaborador do departamento contábil, precisa cadastrar um novo cliente no Mister Contador. Ele deve gerar o plano de contas desse cliente na Alterdata, seguindo as instruções fornecidas, no padrão Mister Contador e em seguida, fazer o upload no Mister.</li>
        <li>Joana, colaboradora do departamento contábil, ao contabilizar o extrato de um cliente, verificou que estavam faltando as contas contábeis dos novos fornecedores. Ela deve atualizar na Alterdata o plano de contas desse cliente com as novas contas de fornecedores. Após atualizar, ela deve gerar um novo plano de contas, no padrão Mister Contador e carregar no Mister, na área da empresa, no menu lateral, em "Plano de Contas". </li>
      </ul>
    </div>

    <div class="section">
      <h4>Conclusão</h4>
      <p>A geração do plano de contas na Alterdata, seguindo o padrão Mister Contador, é uma etapa crucial para garantir uma contabilidade organizada e eficiente para os clientes do escritório contábil. Com este guia, os contadores podem simplificar o processo de configuração contábil e oferecer um serviço de qualidade aos seus clientes.</p>
    </div>

    <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos.</div>
  </div>
