<jhi-sidebar></jhi-sidebar>

<div class="hero">
    <h1>Upload de Planilhas</h1>
    <p class="text-primary">Como importar movimentações financeiras usando planilhas no Mister Contador</p>
  </div>

  <div class="content">
    <div class="section">
        <a class="btn btn-primary mt-3" href="https://framerusercontent.com/assets/TfMPUF0AwWcQmfRBucFJPvBP7PQ.xlsx" download>Baixe aqui o arquivo <i class='bx bx-download'></i></a>
    </div>
    <div class="section">
      <h4>Resumo</h4>
      <p>O Mister Contador apresenta uma solução revolucionária para contadores lidarem com a falta de extratos bancários: o Mister Planilhas. Este artigo oferece uma visão completa de como utilizar esta funcionalidade para manter a contabilidade dos clientes atualizada e precisa.</p>
    </div>

    <div class="section">
        <h4>Introdução</h4>
        <p>A contabilidade é a espinha dorsal de qualquer negócio, mas muitas vezes os contadores enfrentam desafios ao tentar obter comprovantes de pagamentos e extratos bancários de seus clientes. O Mister Planilhas surge como uma resposta a essas dificuldades, oferecendo uma maneira eficaz de manter a contabilidade em dia.</p>
    </div>

    <div class="section">
        <h4>Visão Geral do Recurso/Funcionalidade</h4>
        <p>O Mister Planilhas permite que os contadores substituam extratos bancários ou contabilizem a movimentação do caixa das empresas, com pagamentos e recebimentos em dinheiro, por meio de planilhas. Além disso, é possível contabilizar os pagamentos e recebimentos com  juros, multas ou descontos, através do Mister Planilhas. Veja como realizar a configuração, nos passos abaixo:</p>
    </div>

    <div class="section">
      <h4>Passo a Passo</h4>
      <ol>
        <li>Acesse "Agência Bancária" no menu lateral do Mister.</li>
        <div class="img-block"><img src="/assets/img/planilhas/upload_planilha/img/image1.png" class="img-fluid rounded"></div>
        <li>Escolha "Cadastrar Agência" e selecione "Mister Planilha".</li>
        <div class="img-block"><img src="/assets/img/planilhas/upload_planilha/img/image2.png" class="img-fluid rounded"></div>
        <li>Configure a planilha, indicando a conta de origem ou destino da movimentação financeira, como por exemplo, "Caixa da Empresa".</li>
        <div class="img-block"><img src="/assets/img/planilhas/upload_planilha/img/image3.png" class="img-fluid rounded"></div>
        <li>Insira nome e descrição da planilha.</li>
        <div class="img-block"><img src="/assets/img/planilhas/upload_planilha/img/image4.png" class="img-fluid rounded"></div>
        <li>Escolha o tipo de arquivo da planilha (xlsx, xls, ou csv) e, se necessário, o tipo de separador para arquivos csv.</li>
        <div class="img-block"><img src="/assets/img/planilhas/upload_planilha/img/image5.png" class="img-fluid rounded"></div>
        <p><strong>OBS: Caso utiliza a planilha em .csv, é obrigatório que os valores tenham duas casas decimais após a vírgula.</strong></p>
        <p>Para verificar o tipo da planilha, clique com o botão direito do mouse sobre o nome da planilha e depois em “Propriedades”:</p>
        <div class="img-block"><img src="/assets/img/planilhas/upload_planilha/img/image6.png" class="img-fluid rounded" style="width: 500px;"></div>
        <li>Configure as colunas da planilha, indicando onde estão as informações necessárias como data, histórico, valores à débito, valores à crédito, CNPJ/CPF, informações adicionais e se a planilha conter as colunas de juros, multas ou descontos, também configure.</li>
        <p><strong>OBS: Se for uma planilha com lançamentos que possuem juros, multas, ou descontos, as colunas de valores à crédito e a débito, devem ser a mesma da coluna do VALOR TOTAL (que é a coluna do somatório dos lançamentos).</strong>.</p>
        <div class="img-block"><img src="/assets/img/planilhas/upload_planilha/img/image7.png" class="img-fluid rounded" style="width: 500px;"></div>
        <p>Os campos em laranja, são de preenchimento obrigatório. Os demais, apenas preencher se existirem as colunas de juros, multas, ou descontos.</p>
        <li>Exemplo de configuração com as colunas de juros, multas, ou descontos:</li>
        <div class="img-block"><img src="/assets/img/planilhas/upload_planilha/img/image8.png" class="img-fluid rounded" style="width: 500px;"></div>
        <li>Processar NFe:</li>
        <p>Se este campo estiver marcado, o Mister Contador irá associar as notas do tipo NFe (entradas e saídas) aos lançamentos. Ou seja, o Mister Contador irá buscar a nota, do tipo NFe, com o mesmo CNPJ/CPF que for informado na planilha e associá-la ao lançamento.</p>
        <li><a href="https://docs.google.com/spreadsheets/d/1eIk5Xyj40KtX40ByhF7bGZz4SNZuJhJx/edit?usp=sharing&ouid=116172828423536168114&rtpof=true&sd=true">Modelo de planilha para o Mister Contador.</a></li>
        <p>Esta é uma sugestão de modelo de planilha para utilizar no Mister Contador. Lembrando que na coluna de VLR. TOTAL, os valores que forem à débito, devem ter o sinal de negativo (-) para que o Mister Contador diferencie os lançamentos à débito, dos lançamentos à crédito.</p>
        <div class="img-block"><img src="/assets/img/planilhas/upload_planilha/img/image9.png" class="img-fluid rounded" ></div>
        <p><strong>OBS: As colunas de valor à débito e valor à crédito, o Mister Contador utilizará para verificar o valor da nota fiscal que será associada ao lançamento da planilha.</strong></p>
    </ol>
    </div>

    <div class="section">
        <h4>Melhores Práticas e Dicas Avançadas</h4>
        <li>Verifique sempre o tipo de arquivo da planilha e se for uma planilha em CSV, escolha o separador adequado.</li>
        <li>Certifique-se de configurar corretamente as colunas da planilha para garantir a importação correta dos dados financeiros.</li>
    </div>

    <div class="section">
        <h4>Perguntas Frequentes (FAQ)</h4>
        <li>A planilha substituirá os comprovantes de pagamento? Não, a planilha pode substituir extratos bancários ou ser usada para registrar movimentações de caixa, mas não substituirá os comprovantes de pagamento.</li>
        <li>O Mister associa comprovantes de pagamento e as NF à planilha automaticamente? Não. Apesar da planilha substituir o extrato bancário, o Mister não associa de forma automática os comprovantes de pagamentos.</li>
        <li>É necessário configurar a planilha de uma forma específica? Sim, é importante configurar corretamente as colunas da planilha para garantir a importação correta dos dados financeiros e a associação com as notas fiscais (NFe).</li>
    </div>

    <div class="section">
        <h4>Exemplos de Uso</h4>
        <li>Pedro, colaborador do departamento contábil, recebeu a planilha da movimentação financeira do caixa da empresa, que é cliente do escritório, para fazer a contabilização. Se a planilha do caixa da empresa não estiver cadastrada no Mister, ele deve cadastrar a planilha, e configurá-la, informando em quais colunas estão as informações que o Mister precisa ler para gerar o registro contábil da planilha.</li>
        <li>Joana, colaboradora do departamento contábil, recebeu uma planilha da conta bancária da Caixa Econômica Federal, de uma empresa cliente. Apesar do extrato da CEF ter históricos de lançamentos bastante simples, a cliente acrescentou mais informações, como por exemplo, o nome dos fornecedores, nos pagamentos de boletos e nos envios de PIX. Se a planilha do banco Caixa Econômica Federal da empresa não estiver cadastrada no Mister, ele deve cadastrar a planilha, e configurá-la, informando em quais colunas estão as informações que o Mister precisa ler para gerar o registro contábil da planilha.</li>
    </div>

    <div class="section">
      <h4>Conclusão</h4>
      <p>O Mister Planilhas é uma ferramenta poderosa para simplificar o trabalho contábil, oferecendo uma alternativa flexível e eficaz para lidar com a falta de comprovantes de pagamento e extratos bancários. Ao seguir os passos e dicas fornecidos neste artigo, você estará preparado para utilizar essa funcionalidade de forma eficiente, mantendo a contabilidade sempre atualizada e precisa.  </p>
    </div>

    <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos.</div>
  </div>
