<jhi-sidebar></jhi-sidebar>

<div class="hero">
    <h1>Gerar Ticket</h1>
  </div>
  
  <div class="content">
    <div class="btn-grid">
      <a href="/ticket/gerar_ticket/gerar_ticket.html" class="btn-dark-outline">Gerar um Ticket</a>
      <a href="/ticket/responder_ticket/responder_ticket.html" class="btn-dark-outline">Responder um Ticket</a>
      <a href="/ticket/finalizar_ticket/finalizar_ticket.html" class="btn-dark-outline">Finalizar um Ticket</a>
    </div>

    <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos</div>
  </div>