<jhi-sidebar></jhi-sidebar>

<a class="btn btn-primary" href="https://app.mistercontador.com.br" target="_blank" style="position: fixed; top: 20px; right: 20px; z-index: 1000;">Ir para o Mister</a>

<div class="hero">
    <h1>Exportação de Lançamentos</h1>
</div>

  <div class="content">
    <div class="btn-grid">
      <a href="/exportacao/exportacao-dominio" style="text-decoration: none;"><div class="btn-dark-outline">Exportação de Lançamentos Domínio</div></a>
      <a href="/exportacao/baixa-nfe-dominio" style="text-decoration: none;"><div class="btn-dark-outline">Exportação da Baixa parcelas de NF-e, NFS-e, para o Domínio</div></a>
      <a href="/exportacao/exportacao-fortes" style="text-decoration: none;"><div class="btn-dark-outline">Exportação de Lançamentos Fortes</div></a>
      <a href="/exportacao/exportacao-alterdata" style="text-decoration: none;"><div class="btn-dark-outline">Exportação de Lançamentos Alterdata</div></a>
      <a href="/exportacao/exportacao-sci-visual" style="text-decoration: none;"><div class="btn-dark-outline">Exportação de Lançamentos SCI Visual</div></a>
      <a href="/exportacao/exportacao-sci-unico" style="text-decoration: none;"><div class="btn-dark-outline">Exportação de Lançamentos SCI Único</div></a>
      <a href="/exportacao/exportacao-questor" style="text-decoration: none;"><div class="btn-dark-outline">Exportação de Lançamentos Contábeis para Questor</div></a>
      <a href="/exportacao/exportacao-questor-cloud" style="text-decoration: none;"><div class="btn-dark-outline">Exportação de Lançamentos Contábeis para Questor Cloud</div></a>
      <a href="/exportacao/exportacao-iob" style="text-decoration: none;"><div class="btn-dark-outline">Exportação de Lançamentos IOB</div></a>
      <a href="/exportacao/exportacao-calima" style="text-decoration: none;"><div class="btn-dark-outline">Exportação de Lançamentos Calima</div></a>
      <a href="/exportacao/exportacao-contmatic" style="text-decoration: none;"><div class="btn-dark-outline">Exportação de Lançamentos Contmatic</div></a>
      <a href="/exportacao/exportacao-netspeed" style="text-decoration: none;"><div class="btn-dark-outline">Exportação de Lançamentos Netspeed</div></a>
      <a href="/exportacao/exportacao-mastermaq" style="text-decoration: none;"><div class="btn-dark-outline">Exportação de Lançamentos Mastermaq</div></a>
      <a href="/exportacao/exportacao-tron" style="text-decoration: none;"><div class="btn-dark-outline">Exportação de Lançamentos Tron</div></a>
      <a href="/exportacao/exportacao-contabit" style="text-decoration: none;"><div class="btn-dark-outline">Exportação de Lançamentos Contabit</div></a>
      <a href="/exportacao/exportacao-prosoft" style="text-decoration: none;"><div class="btn-dark-outline">Exportação de Lançamentos Prosoft</div></a>
    </div>

    <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos</div>
  </div>