<jhi-sidebar></jhi-sidebar>

<div class="hero">
    <h1>Edição Avançada</h1>
    <p class="text-primary">Ferramentas avançadas para edição de lançamentos e documentos fiscais</p>
</div>

  <div class="content">
    <div class="btn-grid">
      <a href="/edicao_avancada/editção_avancada_nfe/edicao_avancada.html" class="btn-dark-outline">Edição Avançada</a>
      <a href="/edicao_avancada/edicao_avancada_nfse/edicao_avancada_nfse.html" class="btn-dark-outline">Edição Avançada NFS-e</a>
    </div>

    <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos</div>
  </div>
