<jhi-sidebar></jhi-sidebar>

<div class="hero">
    <h1>Edição Avançada</h1>
    <p class="text-primary">Ferramentas avançadas para edição de lançamentos e documentos fiscais</p>
</div>

  <div class="content">
    <div class="btn-grid">
      <a href="/edicao-avancada/edicao-avancada-nfe" style="text-decoration: none;"><div class="btn-dark-outline">Edição Avançada NF-e</div></a>
      <a href="/edicao-avancada/edicao-avancada-nfse" style="text-decoration: none;"><div class="btn-dark-outline">Edição Avançada NFS-e</div></a>
    </div>

    <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos</div>
  </div>
