<jhi-sidebar></jhi-sidebar>

<a class="btn btn-primary" href="https://app.mistercontador.com.br" target="_blank" style="position: fixed; top: 20px; right: 20px; z-index: 1000;">Ir para o Mister</a>

<div class="hero">
    <h1>Cadastro de Empresa</h1>
    <p class="text-primary">Cadastrando Empresas no Mister Contador</p>
  </div>

  <div class="content">
    <div class="section">
      <h4>Resumo</h4>
      <p>Vamos simplificar sua vida contábil! Este artigo é seu guia rápido para cadastrar empresas no Mister Contador de forma fácil e eficiente. Vamos lá?</p>
    </div>

    <div class="section">
      <h4>Introdução</h4>
      <p>Está pronto para melhorar a performance do seu departamento contábil? O cadastro de empresas no Mister Contador foi projetado para ser rápido e fácil. Neste artigo, vamos mostrar como é simples cadastrar seus clientes, para aproveitar ao máximo todas as funcionalidades do Mister Contador.</p>
    </div>

    <div class="section">
      <h4>Visão Geral do Recurso/Funcionalidade</h4>
      <p>Ao acessar o Mister Contador, você encontrará a opção "Cadastro de Empresas". Aqui, você irá inserir informações essenciais, como CNPJ/CPF, plano de contas e contas padrão, além de cadastrar a primeira conta bancária dos seus clientes.</p>
    </div>

    <div class="section">
      <h4>Passo a Passo</h4>
      <ol>
        <li><strong>Cadastrar CNPJ/CPF:</strong><br>Insira o CNPJ ou CPF do cliente a ser cadastrado.</li>
      </ol>
      <div class="img-block"><img src="/assets/img/cadastros/empresas/img/image1.png" class="img-fluid rounded"></div>

      <ol start="2">
        <li><strong>Importar o Plano de Contas:</strong><br>Importe o plano de contas no padrão Mister Contador, seguindo as instruções fornecidas para o seu ERP Contábil.</li>
      </ol>
      <div class="img-block"><img src="/assets/img/cadastros/empresas/img/image2.png" class="img-fluid rounded"></div>

      <ol start="3">
        <li><strong>Cadastrar Contas Padrão:</strong><br>Configure as "Contas Padrão", para que o Mister identifique nos comprovantes de pagamento despesas com juros, multa, descontos recebidos, etc. Se não lembrar o número das contas, digite a expressão/descrição da conta contábil.</li>
      </ol>
      <div class="img-block"><img src="/assets/img/cadastros/empresas/img/image3.png" class="img-fluid rounded"></div>

      <ol start="4">
        <li><strong>Cadastrar Agência Bancária:</strong><br>Registre as informações do primeiro banco do cliente.
          <ul>
            <li>digitar o nome do banco;</li>
            <li>digitar a conta contábil do banco no plano de contas, ou o nome do banco;</li>
            <li>digitar o número da agência, <em>sem o dígito</em>;</li>
            <li>digitar o número da conta corrente, <em>sem o dígito</em>;</li>
            <li>digitar o dígito da conta corrente;</li>
            <li>digitar uma descrição para o banco.</li>
          </ul>
        </li>
      </ol>
      <div class="img-block"><img src="/assets/img/cadastros/empresas/img/image4.png" class="img-fluid rounded"></div>
    </div>

    <div class="section">
      <h4>Melhores Práticas e Dicas Avançadas</h4>
      <ul>
        <li>Mantenha as contas contábeis sempre atualizadas em seu sistema contábil.</li>
      </ul>
    </div>

    <div class="section">
      <h4>Perguntas Frequentes (FAQ)</h4>
      <ol>
        <li>Posso cadastrar mais de uma agência bancária para o mesmo cliente? Sim, você pode cadastrar quantas agências forem necessárias. As novas contas bancárias poderão ser cadastradas após a finalização do cadastro inicial.</li>
        <li>Preciso importar o plano de contas no formato específico? Sim, o Mister Contador requer o plano de contas em formatos específicos para garantir a compatibilidade.</li>
        <li>Posso excluir a empresa cadastrada? Sim, é possível excluir a empresa, caso ela não esteja mais na carteira do escritório.</li>
      </ol>
    </div>

    <div class="section">
      <h4>Exemplos de Uso</h4>
      <ul>
        <li>Maria, colaboradora do departamento contábil precisa cadastrar uma nova empresa. O perfil de acesso dela no Mister Contador deve ser de gerente.</li>
        <li>Pedro é sócio e seu perfil no Mister Contador é de administrador. Ele também pode cadastrar novas empresas.</li>
        <li>Os colaboradores do departamento contábil, com perfil "usuário", não têm permissão para cadastrar novas empresas.</li>
      </ul>
    </div>

    <div class="section">
      <h4>Conclusão</h4>
      <p>Ao cadastrar e configurar corretamente as contas contábeis das empresas cadastradas, você está estabelecendo as bases para uma contabilidade precisa, que lhe fornecerá insights valiosos a respeito de seus clientes. Não subestime a importância deste passo inicial. Então, não perca tempo e comece agora mesmo a simplificar sua vida contábil com o Mister Contador!</p>
    </div>

    <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos.</div>
  </div>
