<jhi-sidebar></jhi-sidebar>

<div class="hero">
        <h1>Gerar um Ticket</h1>
        <p class="text-primary">Facilite a comunicação com seus clientes através da geração de tickets</p>
    </div>

    <!-- CONTENT -->
    <div class="content">
        <div class="section">
            <h4>Resumo</h4>
            <p>Descubra a funcionalidade de geração de tickets do Mister Contador, uma ferramenta projetada para facilitar a comunicação entre contadores e seus clientes, permitindo esclarecimentos rápidos sobre lançamentos contábeis ainda não realizados por falta de informação do gestor.</p>
        </div>

        <div class="section">
            <h4>Introdução</h4>
            <p>A funcionalidade de gerar ticket simplifica o processo de solicitação de informações entre contadores e seus clientes, criando um canal direto para questões específicas sobre transações bancárias não conciliadas.</p>
        </div>

        <div class="section">
            <h4>Visão Geral do Recurso/Funcionalidade</h4>
            <p>Através da funcionalidade de gerar ticket, contadores podem selecionar lançamentos contábeis que necessitam de esclarecimento adicional e enviar perguntas diretamente aos seus clientes. O Mister Contador gera um link que o cliente (empresário) pode usar para responder especificamente sobre a transação em questão e anexar arquivos que ajudem a esclarecer a dúvida.</p>
        </div>

        <div class="section">
            <h4>Passo a Passo</h4>
            
            <div class="section">
                <h5>1. Abrir a tela de registro contábil:</h5>
                <p>Acesse a tela de registros contábeis:</p>
                    <div class="img-block">
                        <img src="/assets/img/ticket/gerar_ticket/gerartk.png" class="img-fluid rounded">
                    </div>
            </div>

            <div class="section">
                <h5>2. Clicar em 'Gerar ticket':</h5>
                <p>Inicie o processo de criação de um ticket para comunicação.</p>
                    <div class="img-block">
                        <img src="/assets/img/ticket/gerar_ticket/gerartk2.png" class="img-fluid rounded">
                    </div>
            </div>

            <div class="section">
                <h5>3. Selecionar lançamentos contábeis a serem enviados para esclarecimento:</h5>
                <p>Escolha quais transações requerem mais informações.</p>
                    <div class="img-block">
                        <img src="/assets/img/ticket/gerar_ticket/gerartk3.png" class="img-fluid rounded">
                    </div>     
                <p>É possível selecionar todas as transações em lote clicando no box superior direito. Sugerimos não criar ticket com muitas linhas, pois seu cliente não terá a opção de respondê-los parcialmente.</p>
                    <div class="img-block">
                        <img src="/assets/img/ticket/gerar_ticket/gerartk4.png" class="img-fluid rounded">
                    </div>
            </div>

            <div class="section">
                <h5>4. Escrever um texto explicativo:</h5>
                <p>Detalhe o que precisa ser esclarecido pelo cliente.</p>
                    <div class="img-block">
                        <img src="/assets/img/ticket/gerar_ticket/gerartk5.png" class="img-fluid rounded">
                    </div>
            </div>

            <div class="section">
                <h5>5. Clicar em 'Gerar ticket':</h5>
                <p>Confirme a criação do ticket.</p>
                    <div class="img-block">
                        <img src="/assets/img/ticket/gerar_ticket/gerartk6.png" class="img-fluid rounded">
                    </div>
            </div>

            <div class="section">
                <h5>6. Copiar o link e enviar ao cliente:</h5>
                <p>Disponibilize o link gerado para que o cliente possa responder.</p>
                    <div class="img-block">
                        <img src="/assets/img/ticket/gerar_ticket/gerartk7.png" class="img-fluid rounded">
                    </div>
            </div>
        </div>

        <div class="section">
            <h4>Melhores Práticas e Dicas Avançadas</h4>
            <ul>
                <li><strong>Clareza na Comunicação:</strong> Certifique-se de que o texto explicativo seja claro e direto, facilitando a compreensão do cliente.</li>
                <li><strong>Instruções claras:</strong> Forneça instruções específicas sobre como o cliente pode anexar documentos ou responder adequadamente à questão.</li>
                <li><strong>Seguimento:</strong> Acompanhe os tickets gerados e mantenha um controle das respostas para garantir que todas as dúvidas sejam resolvidas em tempo hábil.</li>
            </ul>
        </div>

        <div class="section">
            <h4>Perguntas Frequentes (FAQ)</h4>
            
            <div class="section">
                <ol><li><h5>O cliente precisa ter uma conta no Mister Contador para responder ao ticket?</h5></li>
                    <p>Não, o cliente pode responder ao ticket através do link enviado sem a necessidade de criar uma conta no sistema.</p>
                    <li><h5>E se eu enviar o link para o cliente errado?</h5></li>
                    <p>Antes de responder o ticket o cliente terá que digitar o CNPJ da empresa, para ter certeza que é o cliente correto.</p>
                </ol>
            </div>
        </div>

        <div class="section">
            <h4>Exemplos de Uso</h4>
            <li>Carolina, uma contadora, utiliza a funcionalidade de gerar ticket para solicitar esclarecimentos sobre despesas não conciliadas de um cliente. Ela seleciona os lançamentos, envia um ticket com uma pergunta clara e recebe a documentação necessária diretamente pelo link, simplificando o processo de conciliação.</li>
        </div>

        <div class="section">
            <h4>Conclusão</h4>
            <li>A funcionalidade de gerar ticket do Mister Contador é uma ferramenta valiosa para contadores que buscam otimizar a comunicação e esclarecer dúvidas de maneira eficiente e organizada, melhorando a qualidade dos serviços de contabilidade.</li>
        </div>

        <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos.</div>
    </div>
