<jhi-sidebar></jhi-sidebar>

<a class="btn btn-primary" href="https://app.mistercontador.com.br" target="_blank" style="position: fixed; top: 20px; right: 20px; z-index: 1000;">Ir para o Mister</a>

<div class="hero">
        <h1>Edição Avançada NFS-e</h1>
        <p class="text-primary">Edite e personalize lançamentos contábeis relacionados a Notas Fiscais de Serviços Eletrônicas</p>
    </div>

    <!-- CONTENT -->
    <div class="content">
        <div class="section">
            <h4>Resumo</h4>
            <p>A Edição Avançada é uma funcionalidade poderosa do Mister Contador, permitindo realizar lançamentos contábeis múltiplos em diversas situações. Neste artigo, vamos detalhar como usar esse recurso para associar notas fiscais de serviços (NFSe).</p>
        </div>

        <div class="section">
            <h4>Introdução</h4>
            <p>Quando se trata de contabilidade, a precisão e a eficiência são fundamentais. A Edição Avançada do Mister Contador é uma ferramenta essencial que possibilita realizar lançamentos de notas fiscais de serviços (NFSe) tomados e prestados.</p>
        </div>

        <div class="section">
            <h4>Visão Geral do Recurso/Funcionalidade</h4>
            <p>A Edição Avançada permite realizar os lançamentos associando as notas fiscais de serviços (NFSe) tomados e prestados, Por enquanto, a associação das notas de serviços (NFSe) aos pagamento e recebimentos, não é automática, é paneas manual. O usuário terá as opções de buscar as notas, procurando pelo número da nota, pelo nome da empresa, pelo cnpj da empresa, pelo valor da nota, ou pela data da nota.</p>
        </div>

        <div class="section">
            <h4>Passo a Passo</h4>
            
            <div class="section">
                <h5>Exemplo 1) Serviços prestados:</h5>
                <li>Acesse a tela de "Registro Contábil" no Mister Contador, selecione o lançamento que deseja associar a NFSe e clique em "edição avançada".</li>
                    <div class="img-block">
                        <img src="/assets/img/edicao_nfse/edit_nfse1.png" class="img-fluid rounded">
                    </div>
                <li>Escolha a opção "Associar Notas Fiscais" e pesquise a nota pelo número, pelo nome da empresa, pelo cnpj da empresa, pelo valor da nota, ou pela data da nota.</li>
                    <div class="img-block">
                        <img src="/assets/img/edicao_nfse/edit_nfse2.png" class="img-fluid rounded">
                    </div>
                <li>Marque a nota fiscal desejada e informe a conta contábil em que será contabilizada a nota de serviço. Se houverem retenções, elas já ficaram marcadas.</li>
                    <div class="img-block">
                        <img src="/assets/img/edicao_nfse/edit_nfse3.png" class="img-fluid rounded">
                    </div>
                <li>Clique em "salvar".</li>
                    <div class="img-block">
                        <img src="/assets/img/edicao_nfse/edit_nfse4.png" class="img-fluid rounded">
                    </div>
                <li>A nota será associada ao lançamento e o histórico contábil ficará completo, com o número da nota e com o nome do cliente.</li>
                    <div class="img-block">
                        <img src="/assets/img/edicao_nfse/edit_nfse5.png" class="img-fluid rounded">
                    </div>
            </div>

            <div class="section">
                <h5>Exemplo 2) Serviços tomados</h5>
                <li>Acesse a tela de "Registro Contábil" no Mister Contador, selecione o lançamento que deseja associar a NFSe e clique em "edição avançada".</li>
                    <div class="img-block">
                        <img src="/assets/img/edicao_nfse/edit_nfse6.png" class="img-fluid rounded">
                    </div>
                <li>Escolha a opção "Associar Notas Fiscais" e pesquise a nota pelo número, pelo nome da empresa, pelo cnpj da empresa, pelo valor da nota, ou pela data da nota.</li>
                    <div class="img-block">
                        <img src="/assets/img/edicao_nfse/edit_nfse7.png" class="img-fluid rounded">
                    </div>
                <li>Marque a nota fiscal desejada e informe a conta contábil em que será contabilizada a nota de serviço.</li>
                    <div class="img-block">
                        <img src="/assets/img/edicao_nfse/edit_nfse8.png" class="img-fluid rounded">
                    </div>
                <li>Clique em "salvar"</li>
                    <div class="img-block">
                        <img src="/assets/img/edicao_nfse/edit_nfse9.png" class="img-fluid rounded">
                    </div>
                <li>A nota será associada ao lançamento e o histórico contábil ficará completo, com o número da nota e com o nome do cliente.</li>
                    <div class="img-block">
                        <img src="/assets/img/edicao_nfse/edit_nfse10.png" class="img-fluid rounded">
                    </div>
            </div>
        </div>

        <div class="section">
            <h4>Melhores Práticas e Dicas Avançadas</h4>
            
            <div class="section">
                <h5>Associar Notas Fiscais:</h5>
                <ol>
                    <li>Utilize a opção "edição avançada" para associar as notas fiscais de serviços prestados e tomados. Busque as notas pelo número, empresa, CNPJ, valor da parcela ou pela data.</li>
                    <li>Se houver um saldo, utilize "Associar Conta Contábil" e associe na conta contábil correspondente ao saldo (desconto, juros, impostos).</li>
                </ol>
            </div>
        </div>

        <div class="section">
            <h4>Perguntas Frequentes (FAQ)</h4>
            
            <div class="section">
                <ol><li><h5>O Mister associa automaticamente as notas de serviço?</h5></li>
                <p>Não. Por enquanto as notas de serviço devem ser associadas manualmente, utilizando a "edição avançada", aos serviços prestados e tomados.</p>
                <li><h5>Como faço para quando houver diferença entre o valor do lançamento e o valor da nota?</h5></li>
                <p>Você deve marcar as opções de retenções e se ainda houver saldo, utilize a opção "Associar Conta Contábil" e lançar a diferença na conta contábil correspondente a diferença (desconto, juros, impostos)</p>
            </ol>
            </div>
        </div>

        <div class="section">
            <h4>Conclusão</h4>
            <p>A Edição Avançada no Mister Contador é uma ferramenta poderosa para simplificar tarefas contábeis complexas. Com os passos e dicas fornecidos neste artigo, você estará pronto para enfrentar uma variedade de cenários contábeis com confiança e eficiência, garantindo a precisão e a integridade dos seus registros contábeis.</p>
        </div>

        <div class="section">
            <h4>Recursos Adicionais</h4>
            <ul>
                <li>Links para recursos extras, como tutoriais em vídeo, documentação detalhada, fóruns de discussão ou outros materiais de suporte relevantes.</li>
            </ul>
        </div>

        <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos.</div>
    </div>
