<jhi-sidebar></jhi-sidebar>

<div class="hero">
    <h1>Plano de Contas no JB SOFTWARE</h1>
    <p class="text-primary">Como gerar o plano de contas no JB SOFTWARE</p>
  </div>

  <div class="content">
    <div class="section">
        <h4>Resumo</h4>
        <p>Este guia fornece instruções detalhadas sobre como gerar o plano de contas no JB SOFTWARE, de acordo com o padrão Mister Contador. O plano de contas é essencial para organizar e categorizar as transações financeiras de uma empresa de forma eficiente e padronizada. Por isso, ele deve sempre estar atualizado.</p>
      </div>
      
      <div class="section">
        <h4>Introdução</h4>
        <p>O plano de contas é a espinha dorsal da contabilidade de qualquer empresa. Para os escritórios contábeis, é essencial ter uma metodologia clara e simplificada para criar e personalizar o plano de contas de acordo com as necessidades de cada cliente. Neste guia, vamos explorar o processo de geração do plano de contas no JB SOFTWARE, no padrão Mister Contador, destacando os passos necessários para garantir uma configuração precisa e eficaz.</p>
      </div>
      
      <div class="section">
        <h4>Visão Geral do Recurso/Funcionalidade</h4>
        <p>A geração do plano de contas no padrão Mister Contador no JB SOFTWARE, permite criar uma estrutura contábil alinhada com as melhores práticas. Ao importar o arquivo de layout do plano de contas, fornecido pelo Mister Contador, os contadores podem configurar rapidamente o plano de contas de seus clientes, para realizar o upload no Mister Contador.</p>
      </div>
      
      <div class="section">
        <h4>Passo a Passo</h4>
        <ol>
          <li><strong>Acessar o sistema contábil:</strong>
            <ul>
              <li>Ao acessar o sistema contábil, clique no menu "JB Cepil" e em seguida, selecione a opção "Plano de Contas - Cadastro de Contas" e Subcontas".</li>
              <li>Clique na LOCALIZAÇÂO, do campo "Código da Conta".</li>
            </ul>
            <div class="img-block"><img src="/assets/img/plano-de-contas/jb/img/image1.png" class="img-fluid rounded"></div>
          </li>
          <li><strong>Filtros Adicionais:</strong>
            <ul>
              <li>Aqui, marque as opções "Ativo; Passivo; Cliente; Fornecedores; e Trasnsitórias"</li>
            </ul>
            <div class="img-block"><img src="/assets/img/plano-de-contas/jb/img/image2.png" class="img-fluid rounded"></div>
          </li>
          <li><strong>O Plano de Contas na tela:</strong>
            <ul>
              <li>Ao visualizar o plano de contas, clique com o botão direito do mouse para abrir o menu de opções.</li>
              <li>Selecione a opção "Exportar para o Excel (.xlsx)".</li>
              <li>Salve o arquivo gerado em uma pasta de suaprferência para que então, possa carregar o plano de contas no Mister Contador.</li>
            </ul>
            <div class="img-block"><img src="/assets/img/plano-de-contas/jb/img/image3.png" class="img-fluid rounded"></div>
          </li>
        </ol>
      </div>
      
      <div class="section">
        <h4>Melhores Práticas e Dicas Avançadas</h4>
        <ul>
          <li>Certifique-se de selecionar a empresa correta antes de gerar o plano de contas.</li>
          <li>Abra o arquivo e verifique se a estrutura do plano de contas atende a configuração necessária para fazer o upload no Mister Contador.</li>
          <li>Certifique-se que o plano de contas da empresa que você selecionou, esteja sempre atualizado.</li>
        </ul>
      </div>
      
      <div class="section">
        <h4>Perguntas Frequentes (FAQ)</h4>
        <p><strong>Como atualizar o plano de contas no Mister Contador?</strong></p>
        <ul>
          <li>Após atualizar o plano de contas da empresa desejada, no JB SOFTWARE, você deve gerar um novo plano de contas no padrão Mister Contador e carregar no Mister, na área da empresa, no menu lateral, em "Plano de Contas".</li>
        </ul>
      </div>
      
      <div class="section">
        <h4>Exemplos de Uso</h4>
        <ul>
          <li>Pedro, colaborador do departamento contábil, precisa cadastrar um novo cliente no Mister Contador. Ele deve gerar o plano de contas desse cliente no JB SOFTWARE, seguindo as instruções fornecidas, no padrão Mister Contador e em seguida, fazer o upload no Mister.</li>
          <li>Joana, colaboradora do departamento contábil, ao contabilizar o extrato de um cliente, verificou que estavam faltando as contas contábeis dos novos fornecedores. Ela deve atualizar no JB SOFTWARE o plano de contas desse cliente com as novas contas de fornecedores. Após atualizar, ela deve gerar um novo plano de contas, no padrão Mister Contador e carregar no Mister, na área da empresa, no menu lateral, em "Plano de Contas".</li>
        </ul>
      </div>
      
      <div class="section">
        <h4>Conclusão</h4>
        <p>A geração do plano de contas no JB SOFTWARE, seguindo o padrão Mister Contador, é uma etapa crucial para garantir uma contabilidade organizada e eficiente para os clientes do escritório contábil. Com este guia, os contadores podem simplificar o processo de configuração contábil e oferecer um serviço de qualidade aos seus clientes.</p>
      </div>
      

    <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos.</div>
  </div>
