<jhi-sidebar></jhi-sidebar>

<div class="hero">
        <h1>Criação de Regras</h1>
        <p class="text-primary">Automatização de lançamentos contábeis</p>
    </div>

    <!-- CONTENT -->
    <div class="content">
        <div class="section">
            <h4>Resumo</h4>
            <p>As regras são uma ferramenta poderosa no Mister Contador, permitindo a automatização de lançamentos contábeis e simplificando o processo de contabilização. Neste artigo, vamos explorar como criar e utilizar regras de forma eficaz.</p>
        </div>

        <div class="section">
            <h4>Introdução</h4>
            <p>As regras são como assistentes pessoais do seu contador virtual. Elas garantem que os lançamentos contábeis sejam feitos de forma precisa e eficiente, economizando tempo e minimizando erros. Dominar o uso das regras é essencial para uma contabilidade organizada e confiável.</p>
        </div>

        <div class="section">
            <h4>Visão Geral do Recurso/Funcionalidade</h4>
            <p>No Mister Contador, as regras são usadas para realizar lançamentos que não são feitos automaticamente. Elas são configuradas usando referências específicas encontradas nos extratos bancários, como histórico do lançamento, ou informações adicionais, ou ainda pelo nome do beneficiário que está contido no extrato bancário de alguns bancos e/ou no respectivo comprovante de pagamento.</p>
        </div>

        <div class="section">
            <h4>Passo a Passo</h4>
            
            <ol>
                <li>Na tela de "Registro Contábil", posicione o mouse sobre a linha amarela na coluna "Histórico" e clique.</li>
                    <div class="img-block">
                        <img src="/assets/img/regras/regra.png" class="img-fluid rounded">
                    </div>
                <li>Escolha no pop-up qual referência você deseja utilizar para criar a regra: Histórico Bancário; Nome do beneficiário ou ainda pela referência da informação adicional ou extra, caso esteja disponível no extrato que você está tentando configurar.</li>
                    <div class="img-block">
                        <img src="/assets/img/regras/regra2.png" class="img-fluid rounded">
                    </div>
                <li>Preencha os campos necessários, indicando o número da conta contábil correspondente e o histórico contábil que será registrado no sistema contábil. Se preferir, marque a opção "Histórico Extrato" para manter o histórico do extrato como histórico contábil.</li>
                
                <li><strong>Excluir ou editar as Regras:</strong> Para excluir ou editar as regras, você deve clicar na engrenagem que fica no menu do lado esquerdo.</li>
                    <div class="img-block">
                        <img src="/assets/img/regras/regra3.png" class="img-fluid rounded">
                    </div>
                <li>É possível editar o histórico da regra, ou a conta contábil.</li>
                    <div class="img-block">
                        <img src="/assets/img/regras/regra4.png" class="img-fluid rounded">
                    </div>
                <li>A exclusão das regras é somente de forma individual.</li>
                    <div class="img-block">
                        <img src="/assets/img/regras/regra5.png" class="img-fluid rounded">
                    </div>
            </ol>
        </div>

        <div class="section">
            <h4>Melhores Práticas e Dicas Avançadas</h4>
            <ul>
                <li>Ao criar uma regra pelo histórico, mantenha apenas as palavras-chave mais relevantes para evitar especificidades desnecessárias.</li>
                <li>Utilize a opção de regra pelo beneficiário para lançamentos baseados em informações de comprovantes de pagamento.</li>
                <li>Para extratos bancários que fornecem informações extras, como o Banco do Brasil, você poderá criar a regras pela informação adicional.</li>
            </ul>
            
            <div class="section">
                <h5>Regra pelo HISTÓRICO DO BANCO:</h5>
                <li>Quando o usuário dispõe exclusivamente do extrato bancário para produzir a contabilidade, pode utilizar essa referência "histórico do Banco" para configurar uma regra e automatizar o lançamento contábil para sempre. O usuário deve estar atento para higienizar a expressão deixando apenas a expressão (palavra ou palavras) mais assertiva. Sugerimos e excluir da expressão original informações como: datas, números, horário, pois essas informações quando mantidas na expressão de referência deixarão a regra criada muito específica. Depois, o usuário deve indicar a conta contábil correspondente ao lançamento contábil. Em seguida, escrever o histórico contábil correspondente ao lançamento.</li>
                
                <li><strong>Importante:</strong> O histórico contábil descrito na configuração será também descrito no seu registro contábil.</li>
                
                <li>Se o usuário preferir deixar o histórico contábil exatamente igual ao histórico do lançamento no extrato bancário, basta selecionar "Histórico do Extrato".</li>

                <h5>Regra pelo NOME DO BENEFICIÁRIO:</h5>
                <li>O nome do beneficiário é a informação que o Mister Contador encontra nos comprovantes de pagamento. Não é possível editar essa informação. Depois, o usuário deve indicar a conta contábil correspondente ao lançamento contábil. Em seguida, escrever o histórico correspondente ao lançamento. <strong>Importante: ESSE É O HISTÓRICO CONTÁBIL QUE IRÁ NO LANÇAMENTO PARA O SISTEMA CONTÁBIL.</strong> Se o usuário preferir deixar o histórico contábil exatamente igual ao histórico do lançamento no extrato bancário, basta selecionar "Histórico do Extrato".</li>

                <h5>Regra pela INFORMAÇÃO ADICIONAL:</h5>
                <li>Alguns bancos, trazem no extrato a "informação extra", como por exemplo, o Banco do Brasil. O usuário deve deixar apenas a expressão (palavra ou palavras) mais assertiva e excluir datas, ou números que deixem a regra muito específica. Depois, o usuário deve indicar a conta contábil correspondente ao lançamento contábil. Em seguida, escrever o histórico contábil correspondente ao lançamento. <strong>Importante: ESSE É O HISTÓRICO CONTÁBIL QUE IRÁ NO LANÇAMENTO PARA O SISTEMA CONTÁBIL.</strong> Se o usuário preferir deixar o histórico contábil exatamente igual ao histórico do lançamento no extrato bancário, basta selecionar "Histórico do Extrato".</li>
            </div>
        </div>

        <div class="section">
            <h4>Perguntas Frequentes (FAQ)</h4>
            
            <div class="section">
                <ol>
                    <li><h5>Posso editar ou excluir uma regra já criada?</h5>
                        <p>Sim, você pode editar ou excluir regras a qualquer momento, para ajustar o histórico contábil ou a corrigir a conta contábil do lançamento.</p>
                    </li>

                    <li><h5>As regras se aplicam apenas a lançamentos futuros?</h5>
                        <p>Não, as regras quando criadas são aplicadas para lançamentos contábeis passados e futuros, garantindo consistência em todo o processo contábil.</p>
                    </li>

                    <li><h5>Qual é a lógica contida na criação de uma regra no Mister Contador?</h5>
                        <p>Saiba que ao criar uma regra, o que estará sendo definido nessa configuração é uma referência para que o Mister Contador use na elaboração de todos os demais lançamentos contábeis com a mesma referência. Em outras palavras, o usuário indica uma referência (expressão) contida no extrato bancário que deseja usar, por exemplo "Beneficiário" > em seguida Indica o nome do beneficiário "João da Silva" >> depois defina a conta contábil que deseja registrar essa operação e por fim >>> descreva o histórico contábil. Para essa configuração, toda vez que aparecer no extrato desta conta bancária, um pagamento (saída de recurso) a esse beneficiário, o Mister Contador fará o lançamento contábil na conta contábil indicada com o histórico contábil definido na configuração da regra.</p>
                    </li>
                </ol>
            </div>
        </div>

        <div class="section">
            <h4>Exemplos de Uso</h4>
            <li>João precisa automatizar os lançamentos de recebimentos de clientes que constam no extrato bancário de um cliente. Ele cria a regra baseada em palavras-chave nos históricos do extrato bancário, como por exemplo, "recebimentos cobrança", configurando a conta contábil de "clientes diversos". Dessa forma, sempre que o Mister encontrar a expressão "recebimentos cobrança", nos extratos bancários de qualquer período, irá realizar o lançamento de forma automática, na conta contábil de "cliente diversos" e como histórico contábil que o João definiu.</li>
        </div>

        <div class="section">
            <h4>Conclusão</h4>
            <li>Dominar o uso das regras no Mister Contador é fundamental para uma contabilidade eficiente e precisa. Ao seguir os passos e dicas fornecidas neste artigo, você estará preparado para simplificar e agilizar o processo de contabilização, garantindo que cada transação seja contabilizada de forma adequada, rápida e confiável. Essa funcionalidade foi criada para agilizar registros contábeis das empresas que não compartilham os comprovantes de pagamento e/ou recebimentos com seus respectivos contadores.</li>
        </div>

        <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos.</div>
    </div>
