<jhi-sidebar></jhi-sidebar>

<div class="hero">
    <h1>Comprovantes</h1>
  </div>

  <div class="content">
    <div class="btn-grid">
      <a href="/comprovantes/upload-comprovantes" class="underline"><div class="btn-dark-outline">Upload Manual dos Comprovantes de Pagamento</div></a>
      <a href="/comprovantes/sicredi" class="underline"><div class="btn-dark-outline">Comprovantes de pagamentos do Banco Sicredi</div></a>
      <a href="/comprovantes/sicoob" class="underline"><div class="btn-dark-outline">Comprovantes de pagamentos do Banco Sicoob</div></a>
      <a href="/comprovantes/santander" class="underline"><div class="btn-dark-outline">Comprovantes de pagamentos do Banco Santander</div></a>
      <a href="/comprovantes/itau" class="underline"><div class="btn-dark-outline">Comprovantes de pagamentos do Banco Itaú</div></a>
      <a href="/comprovantes/caixa" class="underline"><div class="btn-dark-outline">Comprovantes de pagamentos da Caixa Econômica Federal</div></a>
      <a href="/comprovantes/bradesco" class="underline"><div class="btn-dark-outline">Comprovantes de pagamentos do Banco Bradesco</div></a>
      <a href="/comprovantes/banco-do-brasil" class="underline"><div class="btn-dark-outline">Comprovantes de pagamentos do Banco do Brasil</div></a>
      <a href="/comprovantes/unicred" class="underline"><div class="btn-dark-outline">Comprovantes de pagamentos da Cooperativa Unicred</div></a>
      <a href="/comprovantes/credcrea" class="underline"><div class="btn-dark-outline">Comprovantes de pagamentos da Cooperativa de Crédito CredCrea</div></a>
      <a href="/comprovantes/inter" class="underline"><div class="btn-dark-outline">Comprovantes de pagamentos do Banco Inter</div></a>
    </div>
    <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos</div>
  </div>
