<jhi-sidebar></jhi-sidebar>

<div class="hero">
    <h1>Concilia Cartão</h1>
  </div>

  <div class="content">
    <div class="btn-grid">
      <a href="/concilia/modulo-basico/" style="text-decoration: none;"><div class="btn-dark-outline">Módulo Básico</div></a>
      <a href="/concilia/modulo-premium/" style="text-decoration: none;"><div class="btn-dark-outline">Módulo Premium</div></a>
      <a href="/concilia/recebimento-rede/" style="text-decoration: none;"><div class="btn-dark-outline">Download do Relatório de Recebimento da Rede</div></a>
      <a href="/concilia/recebimento-cielo/" style="text-decoration: none;"><div class="btn-dark-outline">Download do Relatório de Recebimento da Cielo</div></a>
      <a href="/concilia/recebimento-stone/" style="text-decoration: none;"><div class="btn-dark-outline">Download do Relatório de Recebimento da Stone</div></a>
    </div>

    <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos</div>
  </div>
