<jhi-sidebar></jhi-sidebar>

<div class="hero">
    <h1>Notas Fiscais</h1>
  </div>

  <div class="content">
    <div class="btn-grid">
      <a href="/notas_fiscais/sieg/sieg.html" style="text-decoration: none;"><div class="btn-dark-outline">Integração com a SIEG</div></a>
      <a href="/notas_fiscais/upload_nfe/upload_nfe.html" style="text-decoration: none;"><div class="btn-dark-outline">Upload Manual de NF-e</div></a>
      <a href="/notas_fiscais/upload_nfse/upload_nfse.html" style="text-decoration: none;"><div class="btn-dark-outline">Upload Manual de NFS-e</div></a>
    </div>

    <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos</div>
  </div>
