<jhi-sidebar></jhi-sidebar>

<div class="hero">
    <h1>Aprenda a Utilizar</h1>
        <p>Esse é um compilado para você aprender passo a passo a utilizar o Mister Contador</p>
</div>

<div class="content">
    <div class="section">
            <div class="section-title"><i class='bx bx-layer'></i> Cadastros</div>
            <div class="btn-group-custom">
                <div class="btn-dark-outline">Cadastro de Novos Usuários</div>
                <div class="btn-dark-outline">Cadastro de Empresa</div>
                <div class="btn-dark-outline">Cadastro de Nova Agência Bancária</div>
            </div>
        </div>

        <div class="section">
            <div class="section-title"><i class='bx bx-file'></i> Notas Fiscais</div>
            <div class="btn-group-custom">
                <div class="btn-dark-outline">Integração com a SIEG</div>
                <div class="btn-dark-outline">Upload Manual de NF-e</div>
                <div class="btn-dark-outline">Upload Manual de NFS-e</div>
            </div>
        </div>

        <div class="section">
            <div class="section-title"><i class='bx bx-link-alt'></i> Integrações Bancárias</div>
            <div class="btn-group-custom">
                <div class="btn-dark-outline">Integração Bancária</div>
                <div class="btn-dark-outline">Banco Inter - Etapa 1 - Empresa</div>
                <div class="btn-dark-outline">Banco Inter - Etapa 2 - Contabilidade</div>
            </div>
        </div>

        <div class="section">
            <div class="section-title"><i class='bx bx-link-alt'></i>  Plano de Contas</div>
            <div class="btn-group-custom">
                <div class="btn-dark-outline">Plano de Contas para cada ERP</div>
            </div>
        </div>

        <div class="section">
            <div class="section-title"><i class='bx bx-printer'></i> Extratos</div>
            <div class="btn-group-custom">
                <div class="btn-dark-outline">Upload Manual de Extratos Bancários</div>
                <div class="btn-dark-outline">Extrato do Banco Sicredi</div>
                <div class="btn-dark-outline">Extrato do Banco Sicoob</div>
                <div class="btn-dark-outline">Extrato do Banco Santander</div>
                <div class="btn-dark-outline">Extrato do Banco Itaú</div>
                <div class="btn-dark-outline">Extrato da Caixa Econômica Federal</div>
                <div class="btn-dark-outline">Extrato do Banco Bradesco</div>
                <div class="btn-dark-outline">Extrato do Banco do Brasil</div>
                <div class="btn-dark-outline">Extrato da Cooperativa Unicred</div>
                <div class="btn-dark-outline">Extrato da CredCrea</div>
                <div class="btn-dark-outline">Extrato do Banco Inter</div>
            </div>
        </div>

        <div class="section">
            <div class="section-title"><i class='bx bx-receipt'></i> Comprovantes</div>
            <div class="btn-group-custom">
                <div class="btn-dark-outline">Upload Manual dos Comprovantes de Pagamento</div>
                <div class="btn-dark-outline">Comprovantes de pagamentos do Banco Sicredi</div>
                <div class="btn-dark-outline">Comprovantes de pagamentos do Sicoob</div>
                <div class="btn-dark-outline">Comprovantes de pagamentos do Banco Santander</div>
                <div class="btn-dark-outline">Comprovantes de pagamentos do Banco Itaú</div>
                <div class="btn-dark-outline">Comprovantes de pagamentos da Caixa Econômica Federal</div>
                <div class="btn-dark-outline">Comprovantes de pagamentos do Banco Bradesco</div>
                <div class="btn-dark-outline">Comprovantes de pagamentos do Banco do Brasil</div>
                <div class="btn-dark-outline">Comprovantes de pagamentos da Cooperativa Unicred</div>
                <div class="btn-dark-outline">Comprovantes de pagamentos da Cooperativa de Crédito CredCrea</div>
                <div class="btn-dark-outline">Comprovantes de pagamentos do Banco Inter</div>
            </div>
        </div>

        <div class="section">
            <div class="section-title"><i class='bx bx-table'></i> Planilha</div>
            <div class="btn-group-custom">
                <div class="btn-dark-outline">Upload de Planilhas</div>
            </div>
        </div>

        <div class="section">
            <div class="section-title"><i class='bx bx-cog'></i> Regras</div>
            <div class="btn-group-custom">
                <div class="btn-dark-outline">Criação de Regras</div>
            </div>
        </div>

        <div class="section">
            <div class="section-title"><i class='bx bx-notepad'></i> Registro Contábil</div>
            <div class="btn-group-custom">
                <div class="btn-dark-outline">Entendendo o Registro Contábil</div>
                <div class="btn-dark-outline">Associação de Conta Contábil</div>
            </div>
        </div>

        <div class="section">
            <div class="section-title"><i class='bx bx-wrench'></i> Edição Avançada</div>
            <div class="btn-group-custom">
                <div class="btn-dark-outline">Edição Avançada</div>
                <div class="btn-dark-outline">Edição Avançada NFS-e</div>
            </div>
        </div>

        <div class="section">
            <div class="section-title"><i class='bx bx-credit-card'></i> Concilia Cartão</div>
            <div class="btn-group-custom">
                <div class="btn-dark-outline">Download do Relatório de Recebimento da Rede</div>
                <div class="btn-dark-outline">Download do Relatório de Recebimento da Cielo</div>
                <div class="btn-dark-outline">Módulo Premium</div>
                <div class="btn-dark-outline">Módulo Básico</div>
            </div>
        </div>
        <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos</div>
</div>
