<jhi-sidebar></jhi-sidebar>

<a class="btn btn-primary" href="https://app.mistercontador.com.br" target="_blank" style="position: fixed; top: 20px; right: 20px; z-index: 1000;">Ir para o Mister</a>

<div class="hero">
    <h1>Aprenda a Utilizar</h1>
        <p>Esse é um compilado para você aprender passo a passo a utilizar o Mister Contador</p>
</div>

<div class="content">
    <div class="section">
            <div class="section-title"><i class='bx bx-layer'></i> Cadastros</div>
            <div class="btn-group-custom">
                <a routerLink="/cadastros/usuarios"><div class="btn-dark-outline">Cadastro de Novos Usuários</div></a>
                <a routerLink="/cadastros/empresas"><div class="btn-dark-outline">Cadastro de Empresa</div></a>
                <a routerLink="/cadastros/agencia"><div class="btn-dark-outline">Cadastro de Nova Agência Bancária</div></a>
            </div>
        </div>

        <div class="section">
            <div class="section-title"><i class='bx bx-file'></i> Notas Fiscais</div>
            <div class="btn-group-custom">
                <a routerLink="/notas-fiscais/sieg"><div class="btn-dark-outline">Integração com a SIEG</div></a>
                <a routerLink="/notas-fiscais/upload-nfe"><div class="btn-dark-outline">Upload Manual de NF-e</div></a>
                <a routerLink="/notas-fiscais/upload-nfse"><div class="btn-dark-outline">Upload Manual de NFS-e</div></a>
            </div>
        </div>

        <div class="section">
            <div class="section-title"><i class='bx bx-link-alt'></i> Integrações Bancárias</div>
            <div class="btn-group-custom">
                <a routerLink="/integracoes-bancarias/integra"><div class="btn-dark-outline">Integração Bancária</div></a>
                <a routerLink="/integracoes-bancarias/inter-01"><div class="btn-dark-outline">Banco Inter - Etapa 1 - Empresa</div></a>
                <a routerLink="/integracoes-bancarias/inter-02"><div class="btn-dark-outline">Banco Inter - Etapa 2 - Contabilidade</div></a>
            </div>
        </div>

        <div class="section">
            <div class="section-title"><i class='bx bx-link-alt'></i>  Plano de Contas</div>
            <div class="btn-group-custom">
                <a routerLink="/plano-de-contas"><div class="btn-dark-outline">Plano de Contas para cada ERP</div></a>
            </div>
        </div>

        <div class="section">
            <div class="section-title"><i class='bx bx-printer'></i> Extratos</div>
            <div class="btn-group-custom">
                <a routerLink="/extratos/upload-de-extratos"><div class="btn-dark-outline">Upload Manual de Extratos Bancários</div></a>
                <a routerLink="/extratos/sicredi"><div class="btn-dark-outline">Extrato do Banco Sicredi</div></a>
                <a routerLink="/extratos/sicoob"><div class="btn-dark-outline">Extrato do Banco Sicoob</div></a>
                <a routerLink="/extratos/santander"><div class="btn-dark-outline">Extrato do Banco Santander</div></a>
                <a routerLink="/extratos/itau"><div class="btn-dark-outline">Extrato do Banco Itaú</div></a>
                <a routerLink="/extratos/caixa"><div class="btn-dark-outline">Extrato da Caixa Econômica Federal</div></a>
                <a routerLink="/extratos/bradesco"><div class="btn-dark-outline">Extrato do Banco Bradesco</div></a>
                <a routerLink="/extratos/banco-brasil"><div class="btn-dark-outline">Extrato do Banco do Brasil</div></a>
                <a routerLink="/extratos/unicred"><div class="btn-dark-outline">Extrato da Cooperativa Unicred</div></a>
                <a routerLink="/extratos/credcrea"><div class="btn-dark-outline">Extrato da CredCrea</div></a>
                <a routerLink="/extratos/inter"><div class="btn-dark-outline">Extrato do Banco Inter</div></a>
            </div>
        </div>

        <div class="section">
            <div class="section-title"><i class='bx bx-receipt'></i> Comprovantes</div>
            <div class="btn-group-custom">
                <a routerLink="/comprovantes/upload-comprovantes"><div class="btn-dark-outline">Upload Manual dos Comprovantes de Pagamento</div></a>
                <a routerLink="/comprovantes/sicredi"><div class="btn-dark-outline">Comprovantes de pagamentos do Banco Sicredi</div></a>
                <a routerLink="/comprovantes/sicoob"><div class="btn-dark-outline">Comprovantes de pagamentos do Sicoob</div></a>
                <a routerLink="/comprovantes/santander"><div class="btn-dark-outline">Comprovantes de pagamentos do Banco Santander</div></a>
                <a routerLink="/comprovantes/itau"><div class="btn-dark-outline">Comprovantes de pagamentos do Banco Itaú</div></a>
                <a routerLink="/comprovantes/caixa"><div class="btn-dark-outline">Comprovantes de pagamentos da Caixa Econômica Federal</div></a>
                <a routerLink="/comprovantes/bradesco"><div class="btn-dark-outline">Comprovantes de pagamentos do Banco Bradesco</div></a>
                <a routerLink="/comprovantes/banco-do-brasil"><div class="btn-dark-outline">Comprovantes de pagamentos do Banco do Brasil</div></a>
                <a routerLink="/comprovantes/unicred"><div class="btn-dark-outline">Comprovantes de pagamentos da Cooperativa Unicred</div></a>
                <a routerLink="/comprovantes/credcrea"><div class="btn-dark-outline">Comprovantes de pagamentos da Cooperativa de Crédito CredCrea</div></a>
                <a routerLink="/comprovantes/inter"><div class="btn-dark-outline">Comprovantes de pagamentos do Banco Inter</div></a>
            </div>
        </div>

        <div class="section">
            <div class="section-title"><i class='bx bx-table'></i> Planilha</div>
            <div class="btn-group-custom">
                <a routerLink="/planilhas/upload-planilha"><div class="btn-dark-outline">Upload de Planilhas</div></a>
            </div>
        </div>

        <div class="section">
            <div class="section-title"><i class='bx bx-cog'></i> Regras</div>
            <div class="btn-group-custom">
                <a routerLink="/regras/criacao-regras"><div class="btn-dark-outline">Criação de Regras</div></a>
            </div>
        </div>

        <div class="section">
            <div class="section-title"><i class='bx bx-notepad'></i> Registro Contábil</div>
            <div class="btn-group-custom">
                <a routerLink="/registro/entendendo-registro"><div class="btn-dark-outline">Entendendo o Registro Contábil</div></a>
                <a routerLink="/registro/associacao-conta-contabil"><div class="btn-dark-outline">Associação de Conta Contábil</div></a>
            </div>
        </div>

        <div class="section">
            <div class="section-title"><i class='bx bx-wrench'></i> Edição Avançada</div>
            <div class="btn-group-custom">
                <a routerLink="/edicao-avancada/edicao-avancada-nfe"><div class="btn-dark-outline">Edição Avançada</div></a>
                <a routerLink="/edicao-avancada/edicao-avancada-nfse"><div class="btn-dark-outline">Edição Avançada NFS-e</div></a>
            </div>
        </div>

        <div class="section">
            <div class="section-title"><i class='bx bx-credit-card'></i> Concilia Cartão</div>
            <div class="btn-group-custom">
                <a routerLink="/concilia/recebimento-rede"><div class="btn-dark-outline">Download do Relatório de Recebimento da Rede</div></a>
                <a routerLink="/concilia/recebimento-cielo"><div class="btn-dark-outline">Download do Relatório de Recebimento da Cielo</div></a>
                <a routerLink="/concilia/modulo-premium"><div class="btn-dark-outline">Módulo Premium</div></a>
                <a routerLink="/concilia/modulo-basico"><div class="btn-dark-outline">Módulo Básico</div></a>
            </div>
        </div>
        <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos</div>
</div>
