<jhi-sidebar></jhi-sidebar>

<div class="hero">
        <h1>Download do Relatório de Recebimento da Rede</h1>
        <p class="text-primary">Instruções para gerar e baixar relatórios de recebíveis da Rede</p>
    </div>

    <!-- CONTENT -->
    <div class="content">
        <div class="section">
            <h4>Resumo</h4>
            <p>Este guia oferece instruções passo a passo para gerar e baixar o relatório de recebíveis da Rede, garantindo que o arquivo esteja no formato adequado para importação no Mister Contador.</p>
        </div>

        <div class="section">
            <h4>Introdução</h4>
            <p>Obter relatórios detalhados de recebíveis da Rede pode ser um processo simples ao seguir este guia. Ele pode ser compartilhado com seus clientes para que eles mesmos realizem o download dos relatórios. Isso acelera o processo contábil, eliminando a necessidade de esperar o envio de documentos, e permitindo que você realize a importação diretamente no Mister Contador.</p>
        </div>

        <div class="section">
            <h4>Visão Geral do Recurso/Funcionalidade</h4>
            <p>A Rede oferece a funcionalidade de exportar relatórios de recebíveis em formato Excel (.xlsx) através do seu portal online. Esses relatórios são detalhados e podem ser facilmente importados no Mister Contador para automação contábil.</p>
        </div>

        <div class="section">
            <h4>Passo a Passo</h4>
            <p>Siga o passo a passo abaixo para gerar e baixar seu relatório de recebíveis da Rede de forma compatível com o Mister Contador: <strong><a href="https://drive.google.com/file/d/1C4vgDnLTu3aL6KP1bN9ZSfvkxygEAdSV/view?usp=drive_link" target="_blank">Clique aqui para baixar o passo a passo em arquivo PDF</a></strong></p>
            
            <ol>
                <li><strong>Acesse o site da Rede:</strong> Faça login no <a href="https://meu.userede.com.br/login" target="_blank">portal da Rede</a>.</li>
                    <div class="img-block">
                        <img src="/assets/img/cartao/receb_rede/receb_rede.png" class="img-fluid rounded">
                    </div>
                <li><strong>Navegue até Recebimentos:</strong> No menu superior do site, passe o mouse sobre "Recebimentos" e selecione a opção "Relatório de Recebimentos".</li>
                    <div class="img-block">
                        <img src="/assets/img/cartao/receb_rede/receb_rede2.png" class="img-fluid rounded">
                    </div>
                <li><strong>Escolha o período de pagamento:</strong> Na tela de recebimentos, selecione as datas desejadas. Recomendamos sempre selecionar o primeiro e o último dia do mês que você deseja contabilizar.</li>
                    <div class="img-block">
                        <img src="/assets/img/cartao/receb_rede/receb_rede3.png" class="img-fluid rounded">
                    </div>
                <li><strong>Exportar relatório:</strong> Clique em "Excel" para começar o processo de exportação do relatório.</li>
                    <div class="img-block">
                        <img src="/assets/img/cartao/receb_rede/receb_rede4.png" class="img-fluid rounded">
                    </div>
                <li><strong>Configurar a exportação:</strong> No popup de Exportar em Excel, selecione a opção "Gerar Relatório Detalhado" e clique em "Gerar Arquivo".</li>
                    <div class="img-block">
                        <img src="/assets/img/cartao/receb_rede/receb_rede5.png" class="img-fluid rounded">
                    </div>
                <li><strong>Baixar o relatório:</strong> Após a exportação ser concluída, clique no botão de download para baixar o relatório em Excel.</li>
                    <div class="img-block">
                        <img src="/assets/img/cartao/receb_rede/receb_rede6.png" class="img-fluid rounded">
                    </div>
            </ol>
        </div>

        <div class="section">
            <h4>Melhores Práticas e Dicas Avançadas</h4>
            <ul>
                <li>Se você tem acesso secundário ao portal da Rede de seus clientes, pode realizar esse processo diretamente, economizando tempo.</li>
                <li>Ao baixar o relatório, verifique se todas as transações foram incluídas no arquivo Excel para garantir uma contabilidade precisa.</li>
            </ul>
        </div>

        <div class="section">
            <h4>Perguntas Frequentes (FAQ)</h4>
            
            <div class="section">
                <ol>
                    <li><h5>Preciso gerar o relatório tanto em Excel quanto em outro formato?</h5>
                        <p>Não. O formato Excel (.xlsx) é o mais adequado para importação no Mister Contador.</p>
                    </li>

                    <li><h5>Posso gerar o relatório de todo o ano de uma vez?</h5>
                        <p>Não. Recomendamos que o relatório seja gerado mensalmente para facilitar a importação e conferência.</p>
                    </li>
                </ol>
            </div>
        </div>

        <div class="section">
            <h4>Exemplos de Uso</h4>
            <li>Carlos, contador, precisa realizar a contabilidade do mês de junho para uma loja. Ele usa esse guia para baixar o relatório de recebíveis da Rede, o que facilita a importação dos dados no Mister Contador.</li>
            <li>Mariana, assistente contábil, gerencia várias contas de clientes. Com acesso secundário ao portal da Rede, ela consegue baixar os relatórios diretamente, sem precisar aguardar os clientes.</li>
        </div>

        <div class="section">
            <h4>Conclusão</h4>
            <li>Seguir estas instruções permitirá que você baixe e importe os relatórios de recebíveis da Rede no Mister Contador de maneira rápida e eficiente. Isso assegura uma contabilidade mais ágil e precisa, economizando tempo e esforço no dia a dia.</li>
            <li>Pronto! Agora você tem o seu relatório de recebíveis da Rede pronto para ser importado no Mister Contador.</li>
            <li><strong>Dica:</strong> Confira nossos tutoriais sobre como importar o relatório no <a href="/concilia/modulo_premium/modulo_premium.html">Módulo Premium</a> ou no <a href="/concilia/modulo_basico/modulo_basico.html">Módulo Básico</a> para maximizar o uso das ferramentas do Mister Contador.</li>
        </div>

        <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos.</div>
    </div>
