<jhi-sidebar></jhi-sidebar>

<div class="hero">
    <h1>Planos de Contas</h1>
    <p>Selecione o seu ERP</p>
</div>

<div class="content">
    <div class="btn-grid">
        <a routerLink="/plano-de-contas/dominio" class="underline"><div class="btn-dark-outline">Plano de Contas na Domínio</div></a>
        <a routerLink="/plano-de-contas/fortes" class="underline"><div class="btn-dark-outline">Plano de Contas na Fortes</div></a>
        <a routerLink="/plano-de-contas/alterdata" class="underline"><div class="btn-dark-outline">Plano de Contas no Alterdata</div></a>
        <a routerLink="/plano-de-contas/questor" class="underline"><div class="btn-dark-outline">Plano de Contas na Questor</div></a>
        <a routerLink="/plano-de-contas/sci-visual" class="underline"><div class="btn-dark-outline">Balancete no SCI Visual</div></a>
        <a routerLink="/plano-de-contas/sci-unico" class="underline"><div class="btn-dark-outline">Balancete no SCI Único</div></a>
        <a routerLink="/plano-de-contas/iob" class="underline"><div class="btn-dark-outline">Plano de Contas no IOB</div></a>
        <a routerLink="/plano-de-contas/contmatic" class="underline"><div class="btn-dark-outline">Plano de Contas no Contimatic</div></a>
        <a routerLink="/plano-de-contas/calima" class="underline"><div class="btn-dark-outline">Plano de Contas no Calima</div></a>
        <a routerLink="/plano-de-contas/athenas" class="underline"><div class="btn-dark-outline">Plano de Contas no Athenas</div></a>
        <a routerLink="/plano-de-contas/netspeed" class="underline"><div class="btn-dark-outline">Plano de Contas no Netspeed</div></a>
        <a routerLink="/plano-de-contas/mastermaq" class="underline"><div class="btn-dark-outline">Plano de Contas no Mastermaq</div></a>
        <a routerLink="/plano-de-contas/jb" class="underline"><div class="btn-dark-outline">Plano de Contas no JB SOFTWARE</div></a>
        <a routerLink="/plano-de-contas/tron" class="underline"><div class="btn-dark-outline">Plano de Contas Tron</div></a>
        <a routerLink="/plano-de-contas/contabit" class="underline"><div class="btn-dark-outline">Plano de Contas Contabit</div></a>
        <a routerLink="/plano-de-contas/prosoft" class="underline"><div class="btn-dark-outline">Plano de Contas Prosoft</div></a>
    </div>


    <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos</div>
</div>
