<jhi-sidebar></jhi-sidebar>

<div class="hero">
        <h1>Exportação da Baixa parcelas de NF-e, NFS-e, para o Domínio</h1>
        <p class="text-primary">Importe arquivos de baixa de parcelas de notas fiscais para a Escrita Fiscal da Domínio</p>
    </div>

    <!-- CONTENT -->
    <div class="content">
        <div class="section">
            <h4>Resumo</h4>
            <p>Este artigo fornece instruções detalhadas sobre como importar o arquivo de baixa de parcelas de notas fiscais (NF-e; NFS-e) de entradas e saídas na Escrita Fiscal da Domínio, de forma simples e eficiente, utilizando os recursos disponíveis no Mister Contador.</p>
        </div>

        <div class="section">
            <h4>Introdução</h4>
            <p>A importação do arquivo de baixa de parcelas de notas fiscais é uma etapa crucial para manter a contabilidade organizada e precisa. Este guia detalha o procedimento, passo a passo de como importar para o sistema Domínio, o arquivo de baixa de parcelas NF-e gerado pelo Mister Contador, garantindo uma contabilidade precisa e eficiente.</p>
        </div>

        <div class="section">
            <h4>Visão Geral do Recurso/Funcionalidade</h4>
            <p>O processo de importação envolve a geração de um arquivo no formato ".txt" pelo Mister Contador, que posteriormente é importado na  Escrita Fiscal da Domínio para realizar a baixa das parcelas de notas fiscais.</p>
        </div>

        <div class="section">
            <h4>Passo a Passo - ENTRADAS</h4>
            
            <div class="section">
                <h5>1. Gerar o arquivo de exportação:</h5>
                <p>Depois de finalizar toda a conciliação no Mister Contador, na aba "Registro Contábil", acesse "Ações" e clique em "Exportar Baixa NF's Entrada", ou "Exportar Baixa NF's Saída".</p>
                    <div class="img-block">
                        <img src="/assets/img/exportacao/baixa_dominio/baixa_dominio.png" class="img-fluid rounded">
                    </div>
            </div>

            <div class="section">
                <h5>2. Acesso o sistema Domínio e vá para o Módulo Escrita Fiscal:</h5>
                <p>Na Domínio, no módulo Escrita Fiscal, selecione "Utilitários" > "Importação" > "Importador" > "Importar".</p>
                    <div class="img-block">
                        <img src="/assets/img/exportacao/baixa_dominio/baixa_dominio2.png" class="img-fluid rounded">
                    </div>
            </div>

            <div class="section">
                <h5>3. Seleção do tipo do arquivo:</h5>
                <p>Escolha o tipo de arquivo ".txt" e selecione o conjunto de dados "Baixa de Parcelas de Entradas (Excel) (2.0) (Leiaute Domínio Sistemas  (Excel) (2.0)), que é um modelo disponibilizado pela Domínio para realizar a baixa de parcelas. Caso não tenha esse conjunto de dados, é necessário solicitar à Domínio, a atualização.</p>
                    <div class="img-block">
                        <img src="/assets/img/exportacao/baixa_dominio/baixa_dominio3.png" class="img-fluid rounded">
                    </div>
            </div>

            <div class="section">
                <h5>4. Selecionar o arquivo TXT:</h5>
                <p>Selecione o arquivo ".txt" gerado pelo Mister Contador e clique em "OK".</p>
                    <div class="img-block">
                        <img src="/assets/img/exportacao/baixa_dominio/baixa_dominio4.png" class="img-fluid rounded">
                    </div>
            </div>

            <div class="section">
                <h5>5. Importar:</h5>
                <p>Clique no botão "Importar".</p>
                    <div class="img-block">
                        <img src="/assets/img/exportacao/baixa_dominio/baixa_dominio5.png" class="img-fluid rounded">
                    </div>
            </div>

            <div class="section">
                <h5>6. Verificação de erros ou divergências:</h5>
                <p>Após a leitura das parcelas, verifique eventuais advertências, erros ou críticas de estrutura. Estando tudo ok,  clique em "Gravar".</p>
                    <div class="img-block">
                        <img src="/assets/img/exportacao/baixa_dominio/baixa_dominio6.png" class="img-fluid rounded">
                    </div>
            </div>
        </div>

        <div class="section">
            <h4>Passo a Passo - SAÍDAS</h4>
            
            <div class="section">
                <h5>1. Gerar o arquivo de exportação:</h5>
                <p>No Mister Contador, na aba "Registro Contábil", acesse "Exportações" e clique em "Baixa NF's Saídas".</p>
                    <div class="img-block">
                        <img src="/assets/img/exportacao/baixa_dominio/baixa_dominio7.png" class="img-fluid rounded">
                    </div>
            </div>

            <div class="section">
                <h5>2. Acesso o sistema Domínio e vá para o Módulo Escrita Fiscal:</h5>
                <p>Na Domínio, no módulo Escrita Fiscal, selecione "Utilitários" > "Importação" > "Importador" > "Importar".</p>
                    <div class="img-block">
                        <img src="/assets/img/exportacao/baixa_dominio/baixa_dominio8.png" class="img-fluid rounded">
                    </div>
            </div>

            <div class="section">
                <h5>3. Seleção do tipo do arquivo:</h5>
                <p>Escolha o tipo de arquivo ".txt" e selecione o conjunto de dados "Baixa de Parcelas de Saídas (Excel) (2.0) (Leiaute Domínio Sistemas  (Excel) (2.0)), que é um modelo disponibilizado pela Domínio para realizar a baixa de parcelas. Caso não tenha esse conjunto de dados, é necessário solicitar à Domínio, a atualização.</p>
                    <div class="img-block">
                        <img src="/assets/img/exportacao/baixa_dominio/baixa_dominio9.png" class="img-fluid rounded">
                    </div>
            </div>

            <div class="section">
                <h5>4. Selecionar o arquivo TXT:</h5>
                <p>Selecione o arquivo ".txt" gerado pelo Mister Contador e clique em "OK".</p>
                    <div class="img-block">
                        <img src="/assets/img/exportacao/baixa_dominio/baixa_dominio10.png" class="img-fluid rounded">
                    </div>
            </div>

            <div class="section">
                <h5>5. Importar:</h5>
                <p>Clique no botão "Importar".</p>
            </div>

            <div class="section">
                <h5>6. Gravar:</h5>
                <p>Estando tudo ok,  clique em "Gravar".</p>
            </div>
        </div>

        <div class="section">
            <h4>Melhores Práticas e Dicas Avançadas</h4>
            <li>Certifique-se de selecionar corretamente o tipo de arquivo e conjunto de dados na Domínio Fiscal para evitar erros na importação. O conjunto de dados deve ser "Baixa de Parcelas de Entradas (Excel) (2.0) (Leiaute Domínio Sistemas  (Excel) (2.0)), que é um modelo disponibilizado pela Domínio para realizar a baixa de parcelas. Caso não tenha esse conjunto de dados, é necessário solicitar à Domínio, a atualização.</li>
            
            <li>Sempre revise as advertências e erros antes da importação, para garantir a integridade dos dados.</li>
        </div>

        <div class="section">
            <h4>Perguntas Frequentes (FAQ)</h4>
            
            <div class="section">
                <ol><li><h5>A baixa das parcelas de NF-e na Escrita Fiscal da Domínio, irá duplicar o lançamento contábil?</h5></li>
                    <p>Não. Pois o arquivo de Baixa parcelas NF-e, apenas irá baixar as parcelas provisionadas na Escrita fiscal da Domínio, que forem pagas e identificadas pelo Mister Contador, não gerando lançamento contábil.</p>
                </ol>
                
            </div>
        </div>

        <div class="section">
            <h4>Exemplos de Uso</h4>
            <li>Maria, contadora em um escritório de contabilidade, utiliza o Mister Contador para realizar os registros contábeis. Após a conciliação bancária, ela segue o passo a passo deste guia para importar a baixa de parcelas de notas fiscais na Domínio Fiscal de forma rápida e eficiente.</li>
        </div>

        <div class="section">
            <h4>Conclusão</h4>
            <li>A importação da baixa de parcelas de notas fiscais na Domínio Fiscal através do Mister Contador simplifica o processo contábil, proporcionando maior precisão e organização nos registros contábeis. Ao seguir este guia, os usuários podem garantir a agilidade na contabilidade e a precisão dos dados contábeis.</li>
        </div>

        <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos.</div>
    </div>
