<jhi-sidebar></jhi-sidebar>

<div class="hero">
    <h1>Integração Bancária Banco Inter: Etapa 1 - Empresa</h1>
    <p class="text-primary">Busca automática de extratos e comprovantes de pagamentos</p>
  </div>

  <div class="content">
    <div class="section">
        <a class="btn btn-primary mt-3" href="https://framerusercontent.com/assets/Ft2Pv6NfjedD8unySinOiID8RC4.pdf" download>
            Baixe aqui o arquivo <i class='bx bx-download'></i>
          </a>
    </div>

    <div class="section">
      <h4>Resumo</h4>
      <p>Descubra a integração automática do Mister Contador, uma solução inovadora que automatiza a busca e o processamento de extratos e comprovantes bancários, garantindo lançamentos contábeis precisos e eficientes.</p>
    </div>

    <div class="section">
      <h4>Introdução</h4>
      <p>A integração bancária do Banco Inter com o Mister Contador revoluciona a forma como os contadores acessam os extratos e comprovantes bancários. Com a automação completa do processo, é possível realizar lançamentos contábeis detalhados rapidamente, reduzindo o tempo gasto em tarefas manuais.</p>
    </div>
    
    <div class="section">
      <h4>Visão Geral do Recurso/Funcionalidade</h4>
      <p>O Mister Contador oferece a integração para busca do extrato bancário e comprovantes de pagamentos do Banco Inter, através da configuração de integração via API. Uma vez configurada a integração com o Banco Inter, o Mister Contador processa os extratos e comprovantes automaticamente, bastando o usuário escolher o período desejado. Garantindo assim, que todos os lançamentos contábeis sejam precisos.</p>
      <p>A integração via API com o Banco Inter, deve ser realizada em duas etapas: A primeira por parte da empresa e a segunda, por parte da contabilidade, conforme o passo a passo a seguir:</p>
      <p><strong>OBS: Antes de configurar a integração bancária, envie o arquivo .ZIP 01 (Inter_API-Chave_e_Certificado) gerado ao criar a aplicação do Inter, no suporte do Mister Contador para ser autenticado</strong></p>
    </div>
    
    <div class="section">
      <h4>Integração Banco Inter: Etapa 2 - Empresa</h4>
      <ol>
        <li>Acesse o Mister Contador e selecione a empresa que está sendo configurada a integração bancária: Na aba "Agência bancária" , selecione o Banco Inter e clique no botão "Integração"</li>
        <div class="img-block"><img src="/integracoes_bancarias/inter_01/img/image1.png" class="img-fluid rounded" style="width:550px;"></div>
        <li>Configurar  a integração bancária: Coloque o clientID e o clientSecret gerados ao criar a aplicação do Inter e depois clique em "selecione o certificado".</li>
        <div class="img-block"><img src="/integracoes_bancarias/inter_01/img/image2.png" class="img-fluid rounded" style="width:550px;"></div>
        <li>elecione o certificado autenticado pelo Mister Contador: Para a sua integração funcionar seu certificado precisa ter sido autenticada pelo suporte do Mister contador.</li>
        <div class="img-block"><img src="/integracoes_bancarias/inter_01/img/image3.png" class="img-fluid rounded" style="width:550px;"></div>
        <li>Buscando o extrato e os comprovantes de forma automática: Na aba " Extrato Bancário" clique em "Integração", selecione o mês que deseja processar e então</li>
        <p>Clique em "Processar". O Mister irá buscar de forma automática tanto o extrato, quanto os comprovantes de pagamento e de PIX.</p>
        <div class="img-block"><img src="/integracoes_bancarias/inter_01/img/image4.png" class="img-fluid rounded" style="width:550px;"></div>
        <li>Visualização do extrato no Mister Contador: </li>
        <div class="img-block"><img src="/integracoes_bancarias/inter_01/img/image5.png" class="img-fluid rounded" style="width:550px;"></div>
        <li>Visualização dos comprovantes de pagamento no Mister Contador: A busca dos comprovantes é automática, junto com o extrato bancário.</li>
        <p>"Clique na aba de "Comprovantes de Pgto."</p>
        <div class="img-block"><img src="/integracoes_bancarias/inter_01/img/image6.png" class="img-fluid rounded" style="width:550px;"></div>
      </ol>
    </div>
    <div class="section">
      <h4>Melhores Práticas</h4>
      <p>Certifique-se de que todos os dados da conta estão corretos antes de salvar a integração para garantir um processo eficiente e sem falhas.</p>
    </div>

    <div class="section">
      <h4>Perguntas Frequentes (FAQ)</h4>
      <ul>
        <li>Posso configurar a integração com uma conta de acesso secundário?</li>
        <p>Sim, você pode usar uma conta que tenha apenas permissão de consulta, se desejar.</p>
        <li>Posso configurar a integração em um login que tenha mais de uma conta bancária?</li>
        <p>Sim, mas a integração buscará dados da conta bancária pelo número da conta corrente associada a integração que você cadastrou no Mister.</p>
        <li>Quanto tempo demora para a integração ser validada?</li>
        <p>O tempo de validação pode variar dependendo da resposta da API, mas geralmente pode levar até 24 horas.</p>
        <li>A integração bancária com o Mister Contador é segura?</li>
        <p>Sim, utilizamos protocolos de segurança avançados para assegurar a transmissão segura de todos os dados.</p>
    </ul>
    </div>

    <div class="section">
      <h4>Exemplos de Uso</h4>
      <p>Márcio, um contador parceiro do Mister Contador, utiliza a integração bancária do Mister Contador para agilizar a importação de extratos bancários de vários clientes. Com o processo automatizado, ele realiza lançamentos contábeis rapidamente, economizando tempo para se dedicar a outras consultorias e análises financeiras.</p>
    </div>

    <div class="section">
      <h4>Conclusão</h4>
      <p>A integração bancária do Mister Contador simplifica significativamente o processo de pedir extratos bancários todos os meses para o seu cliente. Contadores podem realizar lançamentos de forma automática e eficiente, melhorando a qualidade dos serviços prestados aos seus clientes.</p>
    </div>
    <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos.</div>
  </div>
