<jhi-sidebar></jhi-sidebar>

<div class="hero">
        <h1>Módulo Básico</h1>
        <p class="text-primary">Concilia Cartão - Versão gratuita com indicadores essenciais</p>
    </div>

    <!-- CONTENT -->
    <div class="content">
        <div class="section">
            <h4>Resumo</h4>
            <p>O Concilia Cartão é uma funcionalidade exclusiva do Mister Contador, projetada para resolver com muita precisão, uma dificuldades históricas na escrituração dos lançamentos contábeis de recebíveis de cartão de crédito/débito.</p>
            
            <p>Com tecnologia de Inteligência Aplicada (IA), a versão Premium elabora lançamentos contábeis desses recebíveis, com um grau de detalhando capaz de escriturar individualmente cada recebimento (creditando na conta de "clientes" no Ativo Circulante), descrevendo inclusive em cada histórico contábil o número da Notas Fiscais de Consumidor Eletrônicas (Nfc-e) correspondente quando disponíveis.</p>
            
            <p>Esta versão automatiza também os lançamentos contábeis individualizado dos recebimentos que eventualmente não foram emitidas Nfc-e correspondente, em contas específicas do Passivo Circulante. Este artigo, no entanto, focará na versão Básica, gratuita para todos os usuários, que permite acesso ao Dashboard com indicadores essenciais inerente aos recebíveis de cartão, mas não inclui lançamentos contábeis automatizados.</p>
        </div>

        <div class="section">
            <h4>Introdução</h4>
            <p>A versão básica do Concilia Cartão (gratuita) no Mister Contador, disponibilizando indicadores como: Taxa efetiva cobrada; Custo mensal de tarifas; Comparação de taxas entre as operadoras e muito mais. Indicado para contadores que desejam entregar mais valor agregado aos seus clientes. Essa versão, proporciona também um primeiro contato com a gestão financeira de vendas por cartão, preparando-os para funcionalidades mais avançadas na versão Premium.</p>
        </div>

        <div class="section">
            <h4>Visão Geral do Recurso/Funcionalidade</h4>
            <p>Enquanto a versão Premium do Concilia Cartão oferece um registro contábil preciso e detalhado, a versão Básica permite aos usuários acessar um dashboard com informações financeiras valiosas. Este acesso inclui visualizações de tarifas efetivas, custos financeiros e identificação de anomalias nas cobranças de taxas de aluguel e vendas.</p>
        </div>

        <div class="section">
            <h4>Passo a Passo</h4>
            
            <ol>
                <li><strong>Acesso ao Módulo:</strong> No menu lateral da plataforma, selecione "Cartão de Crédito" para acessar a funcionalidade.</li>
                    <div class="img-block">
                        <img src="/assets/img/cartao/modulo_basico/md_basico.png" class="img-fluid rounded">
                    </div>
                <li><strong>Configuração Inicial:</strong> Na tela de Cartão de Crédito, defina se a empresa opera com cartões da Cielo, Rede, ou ambos.</li>
                    <div class="img-block">
                        <img src="/assets/img/cartao/modulo_basico/md_basico2.png" class="img-fluid rounded">
                    </div>
                <li><strong>Upload de Extratos:</strong> Suba o relatório de recebíveis para que o sistema processe as informações.</li>
                    <div class="img-block">
                        <img src="/assets/img/cartao/modulo_basico/md_basico3.png" class="img-fluid rounded">
                    </div>
                <li><strong>Visualização de Dados:</strong> Após o processamento, você poderá visualizar uma tabela com informações como: Total de Vendas; Vendas Recebidas; Tarifas de Cartão; Taxa Efetiva cobrada; Aluguéis/Outras Despesas e Despesas Gerais.</li>
                    <div class="img-block">
                        <img src="/assets/img/cartao/modulo_basico/md_basico4.png" class="img-fluid rounded">
                    </div>
            </ol>
        </div>

        <div class="section">
            <h4>Perguntas Frequentes (FAQ)</h4>
            
            <div class="section">
                <ol>
                    <li><h5>Como faço para atualizar para a versão premium?</h5>
                        <p>Solicite a atualização pelo chat de atendimento, onde nossa equipe ajudará com o processo e tirará todas as dúvidas.</p>
                    </li>

                    <li><h5>Quais as principais diferenças entre a versão básica e a premium?</h5>
                        <p>A versão premium oferece além do dashboard de indicadores financeiros, a elaboração dos lançamentos contábeis dos lotes de recebimentos das maquininhas de cartão, detalhando venda por venda dentro do lote de recebimento e conciliando as respectivas notas fiscais quando houver, com uma produtividade e precisão que você nunca viu.</p>
                    </li>

                    <li><h5>Como faço para emitir o relatório de recebíveis no portal da Rede?</h5>
                        <p><a href="/concilia/recebimento_rede/recebimento_rede.html">Manual de como baixar Relatório de Recebimento da Rede</a></p>
                    </li>

                    <li><h5>Como faço para emitir o relatório de recebíveis no portal da Cielo?</h5>
                        <p><a href="/concilia/recebimento_cielo/recebimento_cielo.html">Manual de como baixar Relatório de Recebimento da Cielo</a></p>
                    </li>
                </ol>
            </div>
        </div>

        <div class="section">
            <h4>Exemplos de Uso</h4>
            <li>Carlos, um novo usuário do Mister Contador, usa a versão básica (gratuita) para gerenciar as vendas de cartão de uma empresa. Seguindo os passos simples para carregar os extratos, ele acessa informações consolidadas para descobrir a taxa efetiva cobrada em cada uma das venda e o quanto ele gasta de aluguel de maquininha todo mês, para posteriormente, disponibilizar esse relatório de indicadores ao seu cliente.</li>
        </div>

        <div class="section">
            <h4>Conclusão</h4>
            <li>A versão básica do Concilia Cartão é uma excelente porta de entrada para o contador que busca compartilhar com seus clientes, uma gestão de recebíveis de cartão de crédito e débito.</li>
        </div>

        <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos.</div>
    </div>
