<jhi-sidebar></jhi-sidebar>

<a class="btn btn-primary" href="https://app.mistercontador.com.br" target="_blank" style="position: fixed; top: 20px; right: 20px; z-index: 1000;">Ir para o Mister</a>

<div class="hero">
  <h1>Central de Ajuda</h1>
  <p class="text-primary">Como podemos ajudar você?</p>
</div>

<div class="content">
  <div class="card-box">
    <a routerLink="/aprenda-utilizar" class="text-decoration-none">
      <div class="card p-3 h-100">
        <i class='bx bx-book bx-lg text-primary'></i>
        <h5>Aprenda a Utilizar</h5>
      </div>
    </a>
    <a routerLink="/duvidas-frequentes" class="text-decoration-none">
      <div class="card p-3 h-100">
        <i class='bx bx-question-mark bx-lg text-primary'></i>
        <h5>Dúvidas Frequentes</h5>
      </div>
    </a>
    <a href="https://mistercontador.sleekplan.app/changelog" target="_blank" class="text-decoration-none">
      <div class="card p-3 h-100">
        <i class='bx bx-rocket bx-lg text-primary'></i>
        <h5>Atualizações</h5>
      </div>
    </a>
  </div>

  <div class="mt-5 text-center">
    <h5>Tem alguma dúvida e quer uma resposta rápida?</h5>
    <p>Provavelmente sua dúvida já foi a dúvida de outros contadores. Dá uma olhada!</p>
    <a class="btn btn-primary" routerLink="/duvidas-frequentes">FAQ</a>
  </div>

  <div class="mt-4" style="justify-items: center;">
    <h5>Precisa de uma ajuda mais próxima?</h5>
    <p>Se precisar de um apoio técnico ou reportar um ajuste do sistema, estamos aqui!</p>
    <div class="d-flex gap-3 flex-wrap">
      <div class="card p-3">
        <strong>Não conseguiu achar a resposta para sua dúvida?</strong>
        <p>Mande uma mensagem para nosso Chat de Suporte.</p>
        <a class="btn btn-primary btn-sm" href="https://app.mistercontador.com.br/login">Suporte</a>
      </div>
      <div class="card p-3">
        <strong>Tem uma sugestão de melhoria?</strong>
        <p>Ajude outros contadores com suas sugestões de melhoria.</p>
        <a class="btn btn-primary btn-sm" href="https://mistercontador.sleekplan.app/feedback/add">Sugestões</a>
      </div>
    </div>
  </div>

  <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos.</div>
</div>
