<div class="sidebar">
  <h5>Central de Ajuda</h5>
  <input type="text" class="form-control" placeholder="Pesquisar...">

  <div class="atalhos-title">Atalhos</div>
  <ul class="nav flex-column mb-3">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">
        <i class='bx bx-home'></i> Início
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/aprenda-utilizar" routerLinkActive="active">
        <i class='bx bx-book'></i> Aprenda a Utilizar
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/duvidas-frequentes" routerLinkActive="active">
        <i class='bx bx-question-mark'></i> Dúvidas Frequentes
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/mister-academy" routerLinkActive="active">
        <i class='bx bx-video'></i> Mister Academy
      </a>
    </li>
  </ul>

  <ul class="nav flex-column mt-3">
    <li class="nav-item">
      <a class="nav-link" routerLink="/plano-de-contas" routerLinkActive="active">
        <i class='bx bx-building-house'></i> Plano de Contas <i class='bx bx-chevron-right ms-auto'></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/cadastros" routerLinkActive="active">
        <i class='bx bx-layer'></i> Cadastros <i class='bx bx-chevron-right ms-auto'></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/integracoes-bancarias" routerLinkActive="active">
        <i class='bx bx-link-alt'></i> Integrações Bancárias <i class='bx bx-chevron-right ms-auto'></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/notas-fiscais" routerLinkActive="active">
        <i class='bx bx-file'></i> Notas Fiscais <i class='bx bx-chevron-right ms-auto'></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/comprovantes" routerLinkActive="active">
        <i class='bx bx-receipt'></i> Comprovantes <i class='bx bx-chevron-right ms-auto'></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/extratos" routerLinkActive="active">
        <i class='bx bx-printer'></i> Extratos <i class='bx bx-chevron-right ms-auto'></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/planilhas" routerLinkActive="active">
        <i class='bx bx-table'></i> Planilhas <i class='bx bx-chevron-right ms-auto'></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/concilia" routerLinkActive="active">
        <i class='bx bx-credit-card'></i> Concilia Cartão <i class='bx bx-chevron-right ms-auto'></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/regras" routerLinkActive="active">
        <i class='bx bx-cog'></i> Regras <i class='bx bx-chevron-right ms-auto'></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/registro" routerLinkActive="active">
        <i class='bx bx-notepad'></i> Registro Contábil <i class='bx bx-chevron-right ms-auto'></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ticket" routerLinkActive="active">
        <i class='bx bx-message-square-edit'></i> Ticket <i class='bx bx-chevron-right ms-auto'></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/exportacao" routerLinkActive="active">
        <i class='bx bx-download'></i> Exportação <i class='bx bx-chevron-right ms-auto'></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/edicao-avancada" routerLinkActive="active">
        <i class='bx bx-wrench'></i> Edição Avançada <i class='bx bx-chevron-right ms-auto'></i>
      </a>
    </li>
  </ul>

  <div class="sidebar-version text-center mt-auto p-3" style="font-size: 0.85rem; color: #999;">
    <span>Versão 1.0.0</span>
  </div>
</div>
