<jhi-sidebar></jhi-sidebar>

<div class="hero">
    <h1>Extrato do Banco Sicredi</h1>
    <p class="text-primary">Como gerar o extrato do Banco Sicredi</p>
    <div class="hero-tags">
      <span class="tag">Extratos Bancários</span>
      <span class="tag">3 min de leitura</span>
    </div>
  </div>

  <div class="content">
    <div class="section">
      <h4>Resumo</h4>
      <p>Este guia oferece instruções passo a passo para baixar o extrato da conta corrente do Banco Sicredi em formato PDF, proporcionando facilidade e rapidez no processo de upload do arquivo no Mister Contador.</p>
    </div>

    <div class="section">
      <h4>Introdução</h4>
      <p>A obtenção do extrato do Banco Sicredi em PDF pode ser facilitada seguindo este guia, que pode ser compartilhado com seus clientes, para que eles mesmos gerem o extrato em PDF. Além disso, se você tiver acesso secundário à conta bancária deles, poderá fazer o download diretamente, eliminando a espera por envio de documentação e agilizando o processo contábil no Mister Contador.</p>
    </div>

    <div class="section">
      <h4>Visão Geral do Recurso/Funcionalidade</h4>
      <p>O Banco Sicredi oferece a opção de baixar o extrato em PDF diretamente no Internet Banking, pelo computador. Essa funcionalidade assegura que a contabilização do extrato seja feita com documentos autênticos e originais.</p>
    </div>

    <div class="section">
      <h4>Passo a Passo</h4>
      <p><strong><a href="https://drive.google.com/file/d/1UUCefozsjznUIuS5deISptB06HfZSVuX/view?usp=sharing" target="_blank">Clique aqui para baixar o passo a passo em arquivo PDF</a></strong></p>
      <ol>
        <li><strong>Entre no site do Banco Sicredi utilizando os dados da conta bancária.</strong></li>
        <li><strong>Ao acessar seu Internet Banking, vá em "Consultar" selecione "Extrato".</strong></li>
          <div class="img-block">
              <img src="/assets/img/extratos/sicredi/sicredi.png" class="img-fluid rounded">
          </div>
        <li><strong>Em seguida, clique em "Período do Extrato" e selecione "Extratos + Antigos".</strong></li>
          <div class="img-block">
              <img src="/assets/img/extratos/sicredi/sicredi2.png" class="img-fluid rounded">
          </div>
        <li><strong>Agora, selecione o período desejado e depois clique em "Pesquisar".</strong></li>
          <div class="img-block">
              <img src="/assets/img/extratos/sicredi/sicredi3.png" class="img-fluid rounded">
          </div>
        <li><strong>Agora, role para baixo e clique em "Gerar PDF".</strong></li>
          <div class="img-block">
              <img src="/assets/img/extratos/sicredi/sicredi4.png" class="img-fluid rounded">
          </div>
      </ol>
    </div>

    <div class="section">
      <h4>Melhores Práticas e Dicas Avançadas</h4>
      <li>Se você possui acesso secundário à conta bancária do seu cliente, pode usar essas instruções para gerar o extrato em PDF sem precisar esperar que ele lhe envie a documentação.</li>
      <li>Abra o arquivo e verifique se o documento está em PDF "legível". Para se certificar que o documento não é uma imagem, basta dar o comando "CTRL+F" e tentar localizar alguma expressão no documento. Se a busca for concluída e a expressão não for encontrada, não será possível ler este documento.</li>
    </div>

    <div class="section">
      <h4>Perguntas Frequentes (FAQ)</h4>

      <div class="section">
        <ol>
          <li><h5>Preciso gerar o extrato tanto em PDF quanto em OFX?</h5>
            <p>Não. Se o extrato no formato PDF estiver "legível", não precisa.</p>
          </li>

          <li><h5>Posso gerar o extrato do ano inteiro um um único arquivo de PDF?</h5>
            <p>Não. Recomenda-se que o extrato seja gerado por período mensal.</p>
          </li>
        </ol>
      </div>
    </div>

    <div class="section">
      <h4>Exemplos de Uso</h4>
      <li>Pedro, colaborador do departamento contábil, precisa realizar a contabilidade do mês de janeiro do extrato do Banco Sicredi. Ele deve solicitar ao seu cliente que gero o arquivo em PDF direto do site do Banco Sicredi.</li>
      <li>Joana, colaboradora do departamento contábil, precisa realizar a contabilidade do mês de fevereiro do extrato do Banco Sicredi. Como o cliente da Joana é muito ocupado e não tem tempo de acessar o site do Banco Sicredi para gerar o extrato em PDF, criou para ela um usuário de acesso secundário à conta do Banco Sicredi. Assim, ela consegue acessar a conta bancária para baixar o extrato em PDF.</li>
    </div>

    <div class="section">
      <h4>Conclusão</h4>
      <li>A obtenção rápida e eficiente do extrato bancário é crucial para manter a contabilidade atualizada e precisa. Com este guia, você aprendeu como acessar e baixar o extrato em PDF diretamente do Banco Sicredi. Além disso, destacamos a importância do acesso secundário à conta bancária, que permite aos contadores agilizar os processos contábeis, mesmo quando os clientes estão ocupados. Ao seguir estas instruções simples, você estará capacitado para manter sua contabilidade em dia, economizando tempo e esforço no Mister Contador.</li>
    </div>

    <div class="section">
      <h4>Recursos Adicionais</h4>
      <li>Links para recursos extras, como tutoriais em vídeo, documentação detalhada, fóruns de discussão ou outros materiais de suporte relevantes.</li>
    </div>

    <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos</div>
  </div>
