<jhi-sidebar></jhi-sidebar>

<div class="hero">
    <h1>Integração Bancária</h1>
    <p class="text-primary">Busca automática de extratos e comprovantes de pagamentos</p>
  </div>

  <div class="content">
    <div class="section">
      <h4>Resumo</h4>
      <p>Descubra a integração automática do Mister Contador, uma solução inovadora que automatiza a busca e o processamento de extratos bancários, garantindo lançamentos contábeis precisos e eficientes.</p>
    </div>

    <div class="section">
      <h4>Introdução</h4>
      <p>A integração do Mister Contador revoluciona a forma como os contadores acessam os extratos bancários. Com a automatização completa do processo, é possível realizar lançamentos contábeis detalhados rapidamente, reduzindo o tempo gasto em tarefas manuais.</p>
    </div>

    <div class="section">
      <h4>Visão Geral do Recurso/Funcionalidade</h4>
      <p>O Mister Contador oferece a integração para busca do extrato bancário para mais de 20 bancos, incluindo a busca dos comprovantes de pagamento para os bancos Inter e Itaú. Uma vez configurada, a integração processa os extratos automaticamente, escolhendo o período desejado e garantindo que todos os lançamentos sejam precisos.</p>
      <ul>
        <li>Banco Itaú - incluindo TODOS os comprovantes</li>
        <li>Banco Inter - incluindo TODOS os comprovantes</li>
        <li>Bradesco - incluindo TODOS os comprovantes</li>
        <li>Sicredi</li>
        <li>Caixa Econômica Federal</li>
        <li>Banco Cora</li>
        <li>Santander</li>
        <li>Banco do Brasil</li>
        <li>Sicoob</li>
        <li>Unicred (API em manutenção)</li>
      </ul>
      <div class="img-block"><img src="/assets/img/integracoes_bancarias/integra/img/image1.png" class="img-fluid rounded" style="width: 500px"></div>
    </div>

    <div class="section">
      <h4>Passo a Passo - Exceto Banco Inter</h4>
      <ol>
        <li>Acesso à Integração: No menu lateral, acesse a área de "Agência Bancária".</li>
        <div class="img-block"><img src="/assets/img/integracoes_bancarias/integra/img/image2.png"  class="img-fluid rounded" style="width: 500px"></div>
    
        <li>Seleção da Conta: Selecione a conta que deseja integrar e clique em "Integração".</li>
        <div class="img-block"><img src="/assets/img/integracoes_bancarias/integra/img/image3.png" class="img-fluid rounded"  style="width: 500px"></div>
    
        <li>Ativação da Integração: Ao clicar em "integração, abrirá um pop-up, uma "janela", em que será possível gerar o link (Solicitar ao Cliente), para enviar ao seu cliente e ele irá inserir as informações do acesso a conta bancária. Ou, se já possuir as informações do acesso secundário da conta bancária, pode clicar em "Cadastrar Integração":</li>
        <div class="img-block"><img src="/assets/img/integracoes_bancarias/integra/img/image4.png" class="img-fluid rounded"  style="width: 500px"></div>
    
        <li>Gerar link: Ao clicar em "Gerar Link", abrirá um pop-up. Clique em copiar e envie este link para seu cliente, para ele inserir as informações do acesso a conta bancária:</li>
        <div class="img-block"><img src="/assets/img/integracoes_bancarias/integra/img/image5.png" class="img-fluid rounded"  style="width: 500px"></div>
    
        <li>Link para registrar as informações de acesso a conta bancária: Ao clicar no link, seu cliente deverá digitar o CNPJ ou o CPF da empresa dele e em seguida clicar em "Próximo". Depois, é necessário verificar se a agência e a conta bancária estão corretas. Em seguida, é necessário concordar com os termos e condições da política de privacidade. Agora, é necessário digitar as informações de acesso a conta bancária. Lembrando que para cada banco há um padrão se usuário e senha específicos, de acordo com cada banco:</li>
        <div class="img-block"><img src="/assets/img/integracoes_bancarias/integra/img/image6.png" class="img-fluid rounded" style="width: 500px"></div>
        <div class="img-block"><img src="/assets/img/integracoes_bancarias/integra/img/image7.png" class="img-fluid rounded" style="width: 500px"></div>
        <div class="img-block"><img src="/assets/img/integracoes_bancarias/integra/img/image8.png" class="img-fluid rounded" style="width: 200px"></div>
        <p><strong>OBS: Cada banco tem um padrão específico, de acordo com o banco, para cadastrar as informações no Mister. O exemplo abaixo é para o Itaú. </strong></p>
        <div class="img-block"><img src="/assets/img/integracoes_bancarias/integra/img/image9.png" class="img-fluid rounded" style="width: 200px"></div>

        <li>Cadastrar Integração: Se você já possui os dados de acesso, clique em "Cadastrar Integração", aceite os termos e clique em "Conectar".</li>
        <div class="img-block"><img src="/assets/img/integracoes_bancarias/integra/img/image10.png" class="img-fluid rounded" style="width: 200px"></div>
        <div class="img-block"><img src="/assets/img/integracoes_bancarias/integra/img/image11.png" class="img-fluid rounded" style="width: 200px"></div>

        <li>Validação: A integração passará por validação e pode levar até 72 horas.</li>
        <div class="img-block"><img src="/assets/img/integracoes_bancarias/integra/img/image12.png" class="img-fluid rounded" style="width: 500px"></div>

        <li>Integração Concluída: Após validada, sua integração estará pronta para uso.</li>
        <div class="img-block"><img src="/assets/img/integracoes_bancarias/integra/img/image13.png" class="img-fluid rounded" style="width: 500px"></div>

        <li>Processamento dos Extratos: Acesse "Extrato Bancário", clique em "Integração", escolha o período e clique em "Processar".</li>
        <div class="img-block"><img src="/assets/img/integracoes_bancarias/integra/img/image14.png" class="img-fluid rounded" style="width: 600px"></div>

      </ol>
    </div>

    <div class="section">
      <h4>Melhores Práticas e Dicas Avançadas</h4>
      <ul>
        <li>Certifique-se de que todos os dados da conta estão corretos antes de salvar a integração para garantir um processo eficiente e sem falhas.</li>
      </ul>
    </div>

    <div class="section">
      <h4>Perguntas Frequentes (FAQ)</h4>
      <ul>
        <li>Posso configurar com conta de acesso secundário?<br> Sim, você pode usar uma conta que tenha apenas permissão de consulta, se desejar.</li>
        <li>Posso configurar a integração em um login que tenha mais de uma conta bancária?<br>  Sim, mas a integração buscará dados da conta bancária pelo número da conta corrente associada a integração que você cadastrou no Mister</li>
        <li>Quanto tempo demora? Em média, até 24 horas.</li>
        <li>A integração é segura?<br>  O tempo de validação pode variar dependendo da resposta da API, mas geralmente pode levar até 24 horas.</li>
        <li>A integração com o Mister Contador é segura?<br>Sim, utilizamos protocolos de segurança avançados para assegurar a transmissão segura de todos os dados.</li>
      </ul>
    </div>

    <div class="section">
      <h4>Exemplos de Uso</h4>
      <p>Márcio, um contador parceiro do Mister Contador, utiliza a integração bancária do Mister Contador para agilizar a importação de extratos bancários de vários clientes. Com o processo automatizado, ele realiza lançamentos contábeis rapidamente, economizando tempo para se dedicar a outras consultorias e análises financeiras.</p>
    </div>

    <div class="section">
      <h4>Conclusão</h4>
      <p>A integração bancária do Mister Contador simplifica significativamente o processo de pedir extratos bancários todos os meses para o seu cliente. Contadores podem realizar lançamentos de forma automática e eficiente, melhorando a qualidade dos serviços prestados aos seus clientes.</p>
    </div>

    <div class="footer">© 2025 Nícolas da Mota Monteiro dos Santos.</div>
  </div>
